// List options

// [converter] extracted from `.list-unstyled` for libsass compatibility
@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}
// [converter] extracted as `@mixin list-unstyled` for libsass compatibility
.list-unstyled {
  @include list-unstyled;
}


// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled;
  margin-left: -4px;

  > li {
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
  }
}






.list {
  @include list-unstyled;
  > li {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  &.list-sm {
    > li {
      margin-top: 2px;
      margin-bottom: 2px;
    }
  }

  &.list-lg {
    > li {
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
}


.list-icon {
  > li {
    padding-left: 32px;
    position: relative;

    > .list-item-icon {
      position: absolute;
      left: 0;
      width: 24px;
      text-align: center;
      line-height: inherit;
    }
  }

  &.list-icon-default {
    .list-item-icon {
      color: $gray-600;
    }
  }
  &.list-icon-inverse {
    .list-item-icon {
      color: $gray-300;
    }
  }
}
