<div class="popover-content hidden" id="view-appointment-popover">
  <div class="popover-header">
    <span class="label label-default">Regular Customer</span>
    <span class="label label-primary">Online Booking</span>
    <h6 class="popover-header-title h4">Jasper Lepardo</h6>
    <ul class="list-inline" style="margin-top: 4px;">
      <li>(0917) 116 1268</li>
      <li>May 12, 1993</li>
    </ul>
    <a class="btn btn-default" href="#edit-appointment" data-toggle="modal">Edit Appointment</a>
  </div>
  <table class="table">
    <tbody>
      <tr>
        <td class="text-muted">Service</td>
        <td class="text-right">Graphic Design</td>
      </tr>
      <tr>
        <td class="text-muted">Duration</td>
        <td class="text-right">60 Minutes</td>
      </tr>
      <tr>
        <td class="text-muted">Date &amp; Time</td>
        <td class="text-right">Monday, August 13 <br> <small>09:00am - 10:00am</td>
      </tr>
    </tbody>
  </table>
</div>
