---
layout: booking
---

<main class="shadow bg-white " style="max-width: 1020px; margin: 0 auto;">
  <div class="jumbotron jumbotron-fluid text-white text-center p-4 mb-0" style="background-color: #00254d;">
    <img src="/assets/img/system-avatar.png" alt="">
    <h1 class="text-white">JSPR Design</h1>
    <ul class="list list-inline list-icon list-icon-left list-icon-inverse">
      <li class="list-inline-item"><i class="list-item-icon fas fa-phone"></i><a href="">0917 116 1268</a></li>
      <li class="list-inline-divider"></li>
      <li class="list-inline-item"><i class="list-item-icon fas fa-envelope"></i><a href="">hello@jsprlprd.xyz</a></li>
      <li class="list-inline-divider"></li>
      <li class="list-inline-item"><i class="list-item-icon fas fa-globe"></i><a href="">https://www.jsprlprd.xyz</a></li>
    </ul>
  </div>
  <div class="container p-4">
    <div class="header">
      <h1 class="heading-title h4">Which service would you like?</h1>
    </div>
    {% include components/organisms/services-accordion.html %}
    <hr class="dashed">          
    <p class="lead text-center"><b>September 28, 9:00 AM with Jasper Lepardo</b></p>
    <div class="row">
      <div class="col-lg-auto">
        {% include components/organisms/calendar.html %}
      </div>
      <div class="col-lg">

        <div class="row">
          <div class="col-md-4">
            <p><b>Moring</b></p>
            <a class="btn btn-light btn-lg" href="">09:00</a>
            <a class="btn btn-light btn-lg" href="">10:00</a>
            <a class="btn btn-light btn-lg" href="">11:00</a>
            <a class="btn btn-light btn-lg" href="">12:00</a>
          </div>
          <div class="col-md-4">
            <p><b>Afternoon</b></p>
            <a class="btn btn-light btn-lg" href="">01:00</a>
            <a class="btn btn-light btn-lg" href="">02:00</a>
            <a class="btn btn-light btn-lg" href="">03:00</a>
            <a class="btn btn-light btn-lg" href="">04:00</a>
            <a class="btn btn-light btn-lg" href="">05:00</a>
          </div>
          <div class="col-md-4">
            <p><b>Evening</b></p>
            <a class="btn btn-light btn-lg" href="">06:00</a>
            <a class="btn btn-light btn-lg" href="">07:00</a>
            <a class="btn btn-light btn-lg" href="">08:00</a>
            <a class="btn btn-light btn-lg" href="">09:00</a>
            <a class="btn btn-light btn-lg" href="">10:00</a>
          </div>
        </div>
      </div>
    </div>
    <hr class="dashed">
    <p class="lead">Your Details</p>
    <div class="row">
      <div class="col-lg-6">

        {% include components/molecules/form-group/input.html 
          form-layout=""
          isInputLarge=""
          isInputRequired=""
          hasFormLabel=""
          form-label-class=""
          form-label-size=""
          form-label-text="Name"
          input-size=""
          input-name="customer-name"
          input-type="text"
          input-value=""
          input-placeholder="John Doe"
          hasFormIcon="none"
          form-icon-name=""
          form-icon-placement=""
          hasFormHelper="none"
          form-helper-text=""
          list-value-name=site.customers
        %}

        {% include components/molecules/form-group/input.html 
          form-layout=""
          isInputLarge=""
          isInputRequired=""
          hasFormLabel=""
          form-label-class=""
          form-label-size=""
          form-label-text="Email"
          input-size=""
          input-name="email"
          input-type="text"
          input-value=""
          input-placeholder="name@company.com"
          hasFormIcon="none"
          form-icon-name=""
          form-icon-placement=""
          hasFormHelper="none"
          form-helper-text=""
          list-value-name=site.customers
        %}
        <fieldset class="form-group">
          <label class="control-label" for="">Phone</label>
          <input class="form-control" type="text" placeholder="(+63) 901 234 567">
        </fieldset>
      </div>
      <div class="col-lg-6">
        {% include components/molecules/form-group/textarea.html 
          form-layout=""
          isInputLarge=""
          isInputRequired=""
          hasFormLabel=""
          form-label-class=""
          form-label-size=""
          form-label-text="Please let us know if you have any special requests. Thank you."
          input-size=""
          input-type=""
          input-name="notes"
          input-value=""
          input-placeholder="Please let us know if you have any special requests. Thank you."
          hasFormIcon="none"
          form-icon-name=""
          form-icon-placement=""
          hasFormHelper="none"
          form-helper-text=""
        %}
      </div>
    </div>
    <hr class="dashed">
    <a class="btn btn-primary btn-lg btn-wide" href="">Book Now</a>
  </div>
  <footer class="p-5 text-center bg-light border-top">
    <div class="container-fluid">
        Powered by Phollowup
        <ul class="list-inline mb-0">
          <li class="list-inline-item">© 2019 Phollowup Ptd Ltd</li>
        </ul>    
    </div>
  </footer>
</main>
