<div class="modal" id="new-appointment">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button">&times;</button>
        <h6 class="modal-title h3">New Appointment</h6>
        <ul class="nav nav-tabs">
          <li class="active"><a href="#appointment-details-tab" data-toggle="tab">Appointment Details</a></li>
          <li><a href="#customer-details-tab" data-toggle="tab">Customer Details</a></li>
          <li><a href="#invoice-tab" data-toggle="tab">Invoice</a></li>
          <li><a href="#messages-tab" data-toggle="tab">Messages</a></li>
        </ul>
      </div>
      <div class="modal-body">
        <div class="tab-content">
          <div class="tab-pane active" id="appointment-details-tab">
            <div class="form-horizontal">
              <p class="lead">Appointment Details</p>

              {% include components/molecules/select-field-horizontal.html 
                label="Service"
                text="service"
                placeholder="Select Service"
                list-value-name=site.data.list-value.service
                label-size="col-md-3"
                input-size="col-md-6"
              %}

              {% include components/molecules/select-field-horizontal.html 
                label="Employee"
                text="employee"
                placeholder="Select Employee"
                list-value-name=site.data.list-value.employee-name
                label-size="col-md-3"
                input-size="col-md-6"
              %}

              <fieldset class="form-group">
                <label class="control-label col-md-3" for="">Date &amp; Time</label>
                <div class="col-md-6">
                  <input type="text" id="new-appointment-datetimepicker" class="form-control" />
                </div>
              </fieldset>
            </div>
          </div>
          <div class="tab-pane" id="customer-details-tab">
            <div class="form-horizontal">
              <p class="lead">Personal Details</p>
              <fieldset class="form-group">
                <label class="control-label col-md-3" for="">Name</label>
                <div class="col-md-6">
                  <select id="new-appointment-customer" class="demo-default" placeholder="Search / Select Customer">
                    <option value="">Add / Search Customer Name or Contact Details</option>
                    <option value="4">Thomas Edison</option>
                    <option value="1">Nikola</option>
                    <option value="3">Nikola Tesla</option>
                    <option value="5">Arnold Schwarzenegger</option>
                  </select>
                  <span class="help-block"><a href="">Add new customer</a></span>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <label class="control-label col-md-3" for="">Mobile Number</label>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">+63 <b class="caret"></b></button>
                    </span>
                    <input class="form-control" type="text" placeholder="0912 345 6789">
                  </div>
                  <span class="help-block"><a href="">Add another mobile number</a></span>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <label class="control-label col-md-3" for="">Email Address</label>
                <div class="col-md-6">
                  <input class="form-control" type="text" placeholder="yourname@email.com">
                </div>
              </fieldset>


              {% include components/molecules/birthday-select.html 
                label="Birthday (Optional)"
                name="birthday"
                label-size="col-md-3"
                input-size="col-md-6"
              %}

              <fieldset class="form-group">
                <label class="control-label col-md-3" for="">Notes</label>
                <div class="col-md-6">
                  <textarea class="form-control"></textarea>
                </div>
              </fieldset>

              <hr class="dashed">

              <div class="collapse" id="custom-form">
                <p class="lead">Custom Form Title</p>
                <fieldset class="form-group">
                  <label class="control-label col-md-3" for="">Sample Input Field</label>
                  <div class="col-md-6">
                    <input class="form-control" type="text" placeholder="Sample Input Field">
                  </div>
                </fieldset>
                <hr class="dashed">
              </div>

              </div>
              <div class="row">
                <div class="col-md-6 col-md-push-3">
                  <div class="form-inline">
                    <select class="form-control">
                      <option value="">Select a Custom Form</option>
                    </select>
                    <a class="btn btn-primary" href="#custom-form" data-toggle="collapse">Add</a>
                  </div>
                </div>
            </div>
          </div>
          <div class="tab-pane" id="invoice-tab">
            <p class="lead">Invoice</p>
            <table class="table table-stripped">
              <thead>
                <tr>
                  <th class="col-xs-3">Item</th>
                  <th class="col-xs-2">Price</th>
                  <th class="col-xs-2">Qty</th>
                  <th class="col-xs-2">Tax</th>
                  <th class="col-xs-2">Subtotal</th>
                  <th class="col-xs-1"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <select class="form-control" name="" id="">
                      <option value="">Graphic Design</option>
                    </select>
                  </td>
                  <td><p class="form-control-static">200</p></td>
                  <td>
                    <input class="form-control" type="number" value="1">
                  </td>
                  <td>
                    <select class="form-control" name="" id="">
                      <option value="">No Tax</option>
                    </select>
                  </td>
                  <td><p class="form-control-static">200</p></td>
                  <td><a class="btn btn-danger btn-sm" href="">&times;</a></td>
                </tr>
                <tr>
                  <td>
                    <select class="form-control" name="" id="">
                      <option value="">Graphic Design</option>
                    </select>
                  </td>
                  <td><p class="form-control-static">200</p></td>
                  <td>
                    <input class="form-control" type="number" value="1">
                  </td>
                  <td>
                    <select class="form-control" name="" id="">
                      <option value="">No Tax</option>
                    </select>
                  </td>
                  <td><p class="form-control-static">200</p></td>
                  <td><a class="btn btn-danger btn-sm" href="">&times;</a></td>
                </tr>
              </tbody>
            </table>
            <a class="btn btn-default" href="">Add New Item</a>
            <hr class="dashed">
            <div class="row">
              <div class="col-md-5 col-md-push-7">
                <div class="well">
                  <p class="lead">Summary</p>
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>Subtotal</td>
                        <td class="text-right">P 400</td>
                      </tr>
                      <tr>
                        <td>Tax</td>
                        <td class="text-right">P 0.00</td>
                      </tr>
                      <tr>
                        <td>Total</td>
                        <td class="text-right">P 400</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-md-7 col-md-pull-5">
                <p class="lead">Payment Method</p>
                {% include components/atoms/select.html 
                  label=""
                  text="service"
                  placeholder="Select Payment Method"
                  list-value-name=site.data.list-value.payment-method
                  label-size=""
                  input-size=""
                %}
                <hr class="dashed">
                <a class="btn btn-default" href=""><i class="fas fa-file-download"></i> Download PDF</a>
                <a class="btn btn-default" href=""><i class="fas fa-print"></i> Print Invoice</a>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="messages-tab">
            <p class="lead">Messages</p>
            <div class="panel-group" id="messages">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="pull-right">
                    <label class="form-control-switch">
                      <input type="checkbox" checked="">
                      <span class="form-control-switch-indicator"></span>
                    </label>
                  </div>
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#messages" href="#confirmation-message-panel">Confirmation Message (Instant)</a>
                  </h4>
                </div>
                <div class="panel-collapse collapse in" id="confirmation-message-panel">
                  <div class="panel-body">
                    <div class="row d-flex">
                      <div class="col-md-8 d-flex flex-column">
                        <!-- <div class="alert alert-info">
                          <p><strong>Sent to your customer the moment you create their appointment.</strong></p>
                          <ul>
                            <li>Reduces no-shows by leaving a trace on their phone</li>
                            <li>No more “When is my appointment again?” calls</li>
                            <li>More effective than a reminder card</li>
                          </ul>
                        </div> -->
                        <fieldset class="form-group">
                          <label class="control-label" for="">Message</label>
                          <textarea class="form-control"></textarea>
                          <span class="help-block">0/300 Characters</span>
                        </fieldset>
                      </div>
                      <div class="col-md-4 d-flex">
                        <div style="padding-left: 24px; border-left: 1px solid #d8d8d8;">
                          <p><strong>Dynamic Elements</strong></p>
                          <ul class="list list-unstyled list-inline list-sm">
                            <li title="The customer's full name" data-value="#FULLNAME">
                              <a class="label label-primary">#FULLNAME</a>
                            </li>
                            <li title="The customer's first name" data-value="#FIRSTNAME">
                              <a class="label label-primary">#FIRSTNAME</a>
                            </li>
                            <li title="Appointment type (Massage, Teeth Cleaning, Consultation, etc." data-value="#APPTYPE">
                              <a class="label label-primary">#APPTYPE</a>
                            </li>
                            <li title="Your online booking link, that customers can use to book their next appointment online" data-value="#BKLNK">
                              <a class="label label-primary">#BKLNK</a>
                            </li>
                            <li title="The branch’s name (only if you operate multiple branches on PhollowUp" data-value="#BRANCH">
                              <a class="label label-primary">#BRANCH</a>
                            </li>
                            <li title="The appointment’s date, in the DD/MM/YY format" data-value="#DATE">
                              <a class="label label-primary">#DATE</a>
                            </li>
                            <li title="The appointment’s time, in the HH:MM format" data-value="#TIME">
                              <a class="label label-primary">#TIME</a>
                            </li>
                            <li title="URL link to customer's invoice" data-value="#INVLNK">
                              <a class="label label-primary">#INVLNK</a>
                            </li>
                            <li title="Employee first name" data-value="#EMPFN">
                              <a class="label label-primary">#EMPFN</a>
                            </li>
                            <li title="Branch phone number" data-value="#BRNCHNO">
                              <a class="label label-primary">#BRNCHNO</a>
                            </li>
                            <li title="Confirmation link" data-value="#CONFLNK">
                              <a class="label label-primary">#CONFLNK</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="pull-right">
                    <label class="form-control-switch">
                      <input type="checkbox" checked="">
                      <span class="form-control-switch-indicator"></span>
                    </label>
                  </div>
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#messages" href="#reminder-message-panel">Reminder Message (24-Hours Before)</a>
                  </h4>
                </div>
                <div class="panel-collapse collapse" id="reminder-message-panel">
                  <div class="panel-body">
                    <div class="row d-flex">
                      <div class="col-md-8 d-flex flex-column">
                        <!-- <div class="alert alert-info">
                          <p><strong>A reminder automatically sent 24h before their appointment.</strong></p>
                          <ul>
                            <li>Proven to be the optimal timeframe to reduce no-shows</li>
                            <li>More effective than a phone call- especially during work hours</li>
                          </ul>
                        </div> -->
                        <fieldset class="form-group">
                          <label class="control-label" for="">Message</label>
                          <textarea class="form-control"></textarea>
                          <span class="help-block">0/300 Characters</span>
                        </fieldset>
                      </div>
                      <div class="col-md-4 d-flex">
                        <div style="padding-left: 24px; border-left: 1px solid #d8d8d8;">
                          <p><strong>Dynamic Elements</strong></p>
                          <ul class="list list-unstyled list-inline list-sm">
                            <li title="The customer's full name" data-value="#FULLNAME">
                              <a class="label label-primary">#FULLNAME</a>
                            </li>
                            <li title="The customer's first name" data-value="#FIRSTNAME">
                              <a class="label label-primary">#FIRSTNAME</a>
                            </li>
                            <li title="Appointment type (Massage, Teeth Cleaning, Consultation, etc." data-value="#APPTYPE">
                              <a class="label label-primary">#APPTYPE</a>
                            </li>
                            <li title="Your online booking link, that customers can use to book their next appointment online" data-value="#BKLNK">
                              <a class="label label-primary">#BKLNK</a>
                            </li>
                            <li title="The branch’s name (only if you operate multiple branches on PhollowUp" data-value="#BRANCH">
                              <a class="label label-primary">#BRANCH</a>
                            </li>
                            <li title="The appointment’s date, in the DD/MM/YY format" data-value="#DATE">
                              <a class="label label-primary">#DATE</a>
                            </li>
                            <li title="The appointment’s time, in the HH:MM format" data-value="#TIME">
                              <a class="label label-primary">#TIME</a>
                            </li>
                            <li title="URL link to customer's invoice" data-value="#INVLNK">
                              <a class="label label-primary">#INVLNK</a>
                            </li>
                            <li title="Employee first name" data-value="#EMPFN">
                              <a class="label label-primary">#EMPFN</a>
                            </li>
                            <li title="Branch phone number" data-value="#BRNCHNO">
                              <a class="label label-primary">#BRNCHNO</a>
                            </li>
                            <li title="Confirmation link" data-value="#CONFLNK">
                              <a class="label label-primary">#CONFLNK</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="pull-right">
                    <label class="form-control-switch">
                      <input type="checkbox" checked="">
                      <span class="form-control-switch-indicator"></span>
                    </label>
                  </div>
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#messages" href="#after-appointment-message-panel">After Appointment</a>
                  </h4>
                </div>
                <div class="panel-collapse collapse" id="after-appointment-message-panel">
                  <div class="panel-body">
                    <div class="row d-flex">
                      <div class="col-md-8 d-flex flex-column">                        <!-- <div class="alert alert-info">
                          <p><strong>Sent to your customer after their appointment has ended.</strong></p>
                          <ul>
                            <li>Show them your appreciation for their visit earlier</li>
                            <li>Offer a promotion if they come back and/or refer friends</li>
                            <li>Establish your recommended visit frequency for them to come back</li>
                          </ul>
                        </div> -->
                        <fieldset class="form-group">
                          <label class="control-label" for="">In how long should we sent the reminder?</label>
                          <div class="input-group">
                            <input class="form-control" type="number">
                            <span class="input-group-btn dropdown">
                              <a class="btn btn-default" data-toggle="dropdown" href="#">Minutes</a>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="">Minutes</a></li>
                                <li><a href="">Hours</a></li>
                                <li><a href="">Days</a></li>
                              </ul>
                            </span>
                          </div>
                        </fieldset>
                        <fieldset class="form-group">
                          <label class="control-label" for="">Message</label>
                          <textarea class="form-control"></textarea>
                          <span class="help-block">0/300 Characters</span>
                        </fieldset>
                      </div>
                      <div class="col-md-4 d-flex">
                        <div style="padding-left: 24px; border-left: 1px solid #d8d8d8;">
                          <p><strong>Dynamic Elements</strong></p>
                          <ul class="list list-unstyled list-inline list-sm">
                            <li title="The customer's full name" data-value="#FULLNAME">
                              <a class="label label-primary">#FULLNAME</a>
                            </li>
                            <li title="The customer's first name" data-value="#FIRSTNAME">
                              <a class="label label-primary">#FIRSTNAME</a>
                            </li>
                            <li title="Appointment type (Massage, Teeth Cleaning, Consultation, etc." data-value="#APPTYPE">
                              <a class="label label-primary">#APPTYPE</a>
                            </li>
                            <li title="Your online booking link, that customers can use to book their next appointment online" data-value="#BKLNK">
                              <a class="label label-primary">#BKLNK</a>
                            </li>
                            <li title="The branch’s name (only if you operate multiple branches on PhollowUp" data-value="#BRANCH">
                              <a class="label label-primary">#BRANCH</a>
                            </li>
                            <li title="The appointment’s date, in the DD/MM/YY format" data-value="#DATE">
                              <a class="label label-primary">#DATE</a>
                            </li>
                            <li title="The appointment’s time, in the HH:MM format" data-value="#TIME">
                              <a class="label label-primary">#TIME</a>
                            </li>
                            <li title="URL link to customer's invoice" data-value="#INVLNK">
                              <a class="label label-primary">#INVLNK</a>
                            </li>
                            <li title="Employee first name" data-value="#EMPFN">
                              <a class="label label-primary">#EMPFN</a>
                            </li>
                            <li title="Branch phone number" data-value="#BRNCHNO">
                              <a class="label label-primary">#BRNCHNO</a>
                            </li>
                            <li title="Confirmation link" data-value="#CONFLNK">
                              <a class="label label-primary">#CONFLNK</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="pull-right">
                    <label class="form-control-switch">
                      <input type="checkbox" checked="">
                      <span class="form-control-switch-indicator"></span>
                    </label>
                  </div>
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#messages" href="#long-term-followup-message-panel">Long-Term Follow-Up</a>
                  </h4>
                </div><div class="panel-collapse collapse" id="long-term-followup-message-panel">
                  <div class="panel-body">
                    <div class="row d-flex">
                      <div class="col-md-8 d-flex flex-column">
                        <!-- <div class="alert alert-info">
                          <p>Our most popular feature. Sent to customers who haven’t visited you after a certain duration. </p>
                          <p>Send [] After the latest appointment.</p>
                          <ul>
                            <li>Make your existing customers come more frequently</li>
                            <li>Offer a promotion to make lost customers come back</li>
                          </ul>
                        </div> -->
                        <fieldset class="form-group">
                          <label class="control-label" for="">In how long should we sent the reminder?</label>
                          <div class="input-group">
                            <input class="form-control" type="number">
                            <span class="input-group-btn dropdown">
                              <a class="btn btn-default" data-toggle="dropdown" href="#">Minutes</a>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="">Minutes</a></li>
                                <li><a href="">Hours</a></li>
                                <li><a href="">Days</a></li>
                              </ul>
                            </span>
                          </div>
                        </fieldset>
                        <fieldset class="form-group">
                          <label class="control-label" for="">Message</label>
                          <textarea class="form-control"></textarea>
                          <span class="help-block">0/300 Characters</span>
                        </fieldset>
                      </div>
                      <div class="col-md-4 d-flex">
                        <div style="padding-left: 24px; border-left: 1px solid #d8d8d8;">
                          <p><strong>Dynamic Elements</strong></p>
                          <ul class="list list-unstyled list-inline list-sm">
                            <li title="The customer's full name" data-value="#FULLNAME">
                              <a class="label label-primary">#FULLNAME</a>
                            </li>
                            <li title="The customer's first name" data-value="#FIRSTNAME">
                              <a class="label label-primary">#FIRSTNAME</a>
                            </li>
                            <li title="Appointment type (Massage, Teeth Cleaning, Consultation, etc." data-value="#APPTYPE">
                              <a class="label label-primary">#APPTYPE</a>
                            </li>
                            <li title="Your online booking link, that customers can use to book their next appointment online" data-value="#BKLNK">
                              <a class="label label-primary">#BKLNK</a>
                            </li>
                            <li title="The branch’s name (only if you operate multiple branches on PhollowUp" data-value="#BRANCH">
                              <a class="label label-primary">#BRANCH</a>
                            </li>
                            <li title="The appointment’s date, in the DD/MM/YY format" data-value="#DATE">
                              <a class="label label-primary">#DATE</a>
                            </li>
                            <li title="The appointment’s time, in the HH:MM format" data-value="#TIME">
                              <a class="label label-primary">#TIME</a>
                            </li>
                            <li title="URL link to customer's invoice" data-value="#INVLNK">
                              <a class="label label-primary">#INVLNK</a>
                            </li>
                            <li title="Employee first name" data-value="#EMPFN">
                              <a class="label label-primary">#EMPFN</a>
                            </li>
                            <li title="Branch phone number" data-value="#BRNCHNO">
                              <a class="label label-primary">#BRNCHNO</a>
                            </li>
                            <li title="Confirmation link" data-value="#CONFLNK">
                              <a class="label label-primary">#CONFLNK</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default btn-wide" data-dismiss="modal" type="button">Cancel</button>
        <button class="btn btn-primary btn-wide" type="button">Book Appointment</button>
      </div>
    </div>
  </div>
</div>