<div class="modal" id="new-appointment">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button">&times;</button>
        <h6 class="modal-title h3">New Appointment</h6>
        <ul class="nav nav-tabs" style="margin-bottom: -5px;">
          <li class="active"><a href="#appointment-details-tab" data-toggle="tab">Appointment Details</a></li>
          <li><a href="#customer-details-tab" data-toggle="tab">Customer Details</a></li>
          <li><a href="#invoice-tab" data-toggle="tab">Invoice</a></li>
          <li><a href="#messages-tab" data-toggle="tab">Messages</a></li>
        </ul>
      </div>
      <div class="modal-body">
        <div class="tab-content">
          <div class="tab-pane active" id="appointment-details-tab">
            <div class="form-horizontal">
              <p class="lead">Appointment Details</p>
              <fieldset class="form-group">
                <label class="control-label col-md-3" for="">Service</label>
                <div class="col-md-6">
                  <select class="form-control" name="" id="">
                    <option value="">Select Service</option>
                  </select>
                </div>
              </fieldset>
              <fieldset class="form-group">
                <label class="control-label col-md-3" for="">Employee</label>
                <div class="col-md-6">
                  <select class="form-control" name="" id="">
                    <option value="">Select Employee</option>
                  </select>
                </div>
              </fieldset>
              <fieldset class="form-group">
                <label class="control-label col-md-3" for="">Date & Time</label>
                <div class="col-md-6">
                  <input type="text" id="daterangepicker" class="form-control" />
                </div>
              </fieldset>
              <fieldset class="form-group">
                <label class="control-label col-md-3" for="">Notes</label>
                <div class="col-md-6">
                  <textarea class="form-control" name="" id="" cols="30" rows="5"></textarea>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="tab-pane" id="customer-details-tab">
            <div class="form-horizontal">
              <p class="lead">Customer Details</p>
              <fieldset class="form-group">
                <label class="control-label col-md-3" for="">Name</label>
                <div class="col-md-6">
                  <select id="select-beast" class="demo-default" placeholder="Select a person...">
                    <option value="">Select a person...</option>
                    <option value="4">Thomas Edison</option>
                    <option value="1">Nikola</option>
                    <option value="3">Nikola Tesla</option>
                    <option value="5">Arnold Schwarzenegger</option>
                  </select>
                </div>
              </fieldset>
             <fieldset class="form-group">
                <label class="control-label col-md-3" for="">Preferred Contact</label>
                <div class="col-md-6">
                  <input class="form-control" type="text" placeholder="(+63) 901 234 567">
                  <label class="radio-inline">
                    <input name="optionsRadios2" type="radio" value="option2">Email
                  </label>
                  <label class="radio-inline">
                    <input name="optionsRadios2" type="radio" value="option3">Mobile
                  </label>
                </div>
              </fieldset>
              <fieldset class="form-group">
                <label class="control-label col-md-3" for="">Birthday</label>
                <div class="col-md-6">
                  <input class="form-control" type="text" name="" id="" placeholder="Enter Birthday (Optional)">
                </div>
              </fieldset>
              <hr class="dashed">
              <a class="btn btn-default btn-lg btn-wide" href="">Add Custom Form</a>
            </div>
          </div>
          <div class="tab-pane" id="invoice-tab">
            <p class="lead">Invoice</p>
            <table class="table table-stripped">
              <thead>
                <tr>
                  <th class="col-xs-3">Item</th>
                  <th class="col-xs-2">Price</th>
                  <th class="col-xs-2">Qty</th>
                  <th class="col-xs-2">Tax</th>
                  <th class="col-xs-2">Subtotal</th>
                  <th class="col-xs-1"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <select class="form-control input-sm" name="" id="">
                      <option value="">Graphic Design</option>
                    </select>
                  </td>
                  <td><p class="">200</p></td>
                  <td>
                    <input class="form-control input-sm" type="number" value="1">
                  </td>
                  <td>
                    <select class="form-control input-sm" name="" id="">
                      <option value="">No Tax</option>
                    </select>
                  </td>
                  <td><p class="">200</p></td>
                  <td><a class="btn btn-danger btn-sm" href="">&times;</a></td>
                </tr>
                <tr>
                  <td>
                    <select class="form-control input-sm" name="" id="">
                      <option value="">Graphic Design</option>
                    </select>
                  </td>
                  <td><p class="">200</p></td>
                  <td>
                    <input class="form-control input-sm" type="number" value="1">
                  </td>
                  <td>
                    <select class="form-control input-sm" name="" id="">
                      <option value="">No Tax</option>
                    </select>
                  </td>
                  <td><p class="">200</p></td>
                  <td><a class="btn btn-danger btn-sm" href="">&times;</a></td>
                </tr>
              </tbody>
            </table>
            <a class="btn btn-default" href="">Add New Item</a>
            <hr class="dashed">
            <div class="row">
              <div class="col-md-7">
                <p class="lead">Payment Method</p>
                <div class="radio">
                  <label>
                    <input name="optionsRadios" type="radio" value="option1" checked="">Debit / Credit Card
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input name="optionsRadios" type="radio" value="option1" checked="">Cash
                  </label>
                </div>
              </div>
              <div class="col-md-5">
                <div class="well">
                  <p class="lead">Summary</p>
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>Subtotal</td>
                        <td class="text-right">P 400</td>
                      </tr>
                      <tr>
                        <td>Tax</td>
                        <td class="text-right">P 0.00</td>
                      </tr>
                      <tr>
                        <td>Total</td>
                        <td class="text-right">P 400</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="messages-tab">
            <p class="lead">Messages</p>
            <div class="panel-group" id="messages">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="pull-right">
                    <label class="switch">
                      <input type="checkbox" checked="">
                      <span class="slider"></span>
                    </label>
                  </div>
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#messages" href="#confirmation-message-panel">Confirmation Message (Instant)</a>
                  </h4>
                </div>
                <div class="panel-collapse collapse in" id="confirmation-message-panel">
                  <div class="panel-body">
                    <p>Sent to your customer the moment you create their appointment.</p>
                    <ul>
                      <li>Reduces no-shows by leaving a trace on their phone</li>
                      <li>No more “When is my appointment again?” calls</li>
                      <li>More effective than a reminder card</li>
                    </ul>
                    <fieldset class="form-group">
                      <textarea class="form-control"></textarea>
                      <span class="help-block">0/300 Characters</span>
                    </fieldset>
                    <div class="dropdown">
                      <a class="btn btn-default" data-toggle="dropdown" href="#">Add Dynamic Elements</a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Link #1</a></li>
                        <li><a href="#">Link #2</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="pull-right">
                    <label class="switch">
                      <input type="checkbox" checked="">
                      <span class="slider"></span>
                    </label>
                  </div>
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#messages" href="#reminder-message-panel">Reminder Message (24-Hours Before)</a>
                  </h4>
                </div>
                <div class="panel-collapse collapse" id="reminder-message-panel">
                  <div class="panel-body">
                    <p>A reminder automatically sent 24h before their appointment.</p>
                    <ul>
                      <li>Proven to be the optimal timeframe to reduce no-shows</li>
                      <li>More effective than a phone call- especially during work hours</li>
                    </ul>
                    <fieldset class="form-group">
                      <textarea class="form-control"></textarea>
                      <span class="help-block">0/300 Characters</span>
                    </fieldset>
                    <div class="dropdown">
                      <a class="btn btn-default" data-toggle="dropdown" href="#">Add Dynamic Elements</a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Link #1</a></li>
                        <li><a href="#">Link #2</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="pull-right">
                    <label class="switch">
                      <input type="checkbox" checked="">
                      <span class="slider"></span>
                    </label>
                  </div>
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#messages" href="#after-appointment-message-panel">After Appointment</a>
                  </h4>
                </div>
                <div class="panel-collapse collapse" id="after-appointment-message-panel">
                  <div class="panel-body">
                    <p>Sent to your customer after their appointment has ended.</p>
                    <p>Send [] fter the appointment has ended.</p>
                    <ul>
                      <li>Show them your appreciation for their visit earlier</li>
                      <li>Offer a promotion if they come back and/or refer friends</li>
                      <li>Establish your recommended visit frequency for them to come back</li>
                    </ul>
                    <fieldset class="form-group">
                      <textarea class="form-control"></textarea>
                      <span class="help-block">0/300 Characters</span>
                    </fieldset>
                    <div class="dropdown">
                      <a class="btn btn-default" data-toggle="dropdown" href="#">Add Dynamic Elements</a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Link #1</a></li>
                        <li><a href="#">Link #2</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="pull-right">
                    <label class="switch">
                      <input type="checkbox" checked="">
                      <span class="slider"></span>
                    </label>
                  </div>
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#messages" href="#long-term-followup-message-panel">Long-Term Follow-Up</a>
                  </h4>
                </div><div class="panel-collapse collapse" id="long-term-followup-message-panel">
                  <div class="panel-body">
                    <p>Our most popular feature. Sent to customers who haven’t visited you after a certain duration. </p>
                    <p>Send [] After the latest appointment.</p>
                    <ul>
                      <li>Make your existing customers come more frequently</li>
                      <li>Offer a promotion to make lost customers come back</li>
                    </ul>
                    <fieldset class="form-group">
                      <textarea class="form-control"></textarea>
                      <span class="help-block">0/300 Characters</span>
                    </fieldset>
                    <div class="dropdown">
                      <a class="btn btn-default" data-toggle="dropdown" href="#">Add Dynamic Elements</a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Link #1</a></li>
                        <li><a href="#">Link #2</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default btn-wide" data-dismiss="modal" type="button">Cancel Appointment</button>
        <button class="btn btn-primary btn-wide" type="button">Next</button>
      </div>
    </div>
  </div>
</div>