---
layout: app
subnavbar: true
container-type: container
heading-title: Settings
subheader: true
subheader-title: Vermont Branch
---

<div class="row">
  <div class="col-lg-8 offset-2">
    <div class="card">
      <div class="card-header pb-0 border-0">
        {% include components/molecules/nav-tabs.html
          nav-type="nav-tabs"
          isLarge=""
          isStacked=""
          isJustified=""
          isResponsive="nav-tabs-responsive"
          list-value-name=site.data.navigation.branch-settings
          hasIcon=""
        %}
      </div>
      <div class="card-body">
        <form action="">
          <p class="lead">Basic Details</p>

          {% include components/molecules/form-group/input.html 
            form-layout="horizontal"
            isInputLarge=""
            isInputRequired=""
            hasFormLabel=""
            form-label-size="col-lg-3"
            form-label-text="Legal Business Name"
            input-size="col-lg-6"
            input-type="text"
            input-name="legal-business-name"
            input-value=""
            input-placeholder="Enter Legal Business Name"
            hasFormIcon="none"
            form-icon-name=""
            form-icon-placement=""
            hasFormHelper=""
            form-helper-text="This will appear on Customer Invoices"
          %}

          {% include components/molecules/form-group/input.html 
            form-layout="horizontal"
            isInputLarge=""
            isInputRequired=""
            hasFormLabel=""
            form-label-size="col-lg-3"
            form-label-text="Branch Name"
            input-size="col-lg-6"
            input-type="text"
            input-name="branch-name"
            input-value=""
            input-placeholder="Enter Branch Name"
            hasFormIcon="none"
            form-icon-name=""
            form-icon-placement=""
            hasFormHelper=""
            form-helper-text="This will appear on Online Booking and Automated Messages"
          %}

          {% include components/molecules/form-group/input.html 
            form-layout="horizontal"
            isInputLarge=""
            isInputRequired=""
            hasFormLabel=""
            form-label-size="col-lg-3"
            form-label-text="Login URL"
            input-size="col-lg-6"
            input-type="text"
            input-name="login-url"
            input-value=""
            input-placeholder="company-name.phollowup.com"
            hasFormIcon="none"
            form-icon-name=""
            form-icon-placement=""
            hasFormHelper="none"
            form-helper-text=""
          %}

          <hr class="dashed">

          <p class="lead">Contact Details</p>

          {% include components/molecules/form-group/input.html 
            form-layout="horizontal"
            isInputLarge=""
            isInputRequired=""
            hasFormLabel=""
            form-label-size="col-lg-3"
            form-label-text="Phone Number"
            input-size="col-lg-6"
            input-type="text"
            input-name="phone-number"
            input-value=""
            input-placeholder="Enter Phone Number"
            hasFormIcon="none"
            form-icon-name=""
            form-icon-placement=""
            hasFormHelper="none"
            form-helper-text=""
          %}

          {% include components/molecules/form-group/input.html 
            form-layout="horizontal"
            isInputLarge=""
            isInputRequired=""
            hasFormLabel=""
            form-label-size="col-lg-3"
            form-label-text="Email Address"
            input-size="col-lg-6"
            input-type="text"
            input-name="email-address"
            input-value=""
            input-placeholder="Enter Email Address"
            hasFormIcon="none"
            form-icon-name=""
            form-icon-placement=""
            hasFormHelper="none"
            form-helper-text=""
          %}

          {% include components/organisms/forms/address.html 
            form-layout="horizontal"
            isInputLarge=""
            isInputRequired=""
            form-label-size="col-lg-3"
            input-size="col-lg-6"
          %}
        </form>
      </div>
      <div class="card-footer d-flex align-items-start align-items-center justify-content-between">
        <a class="btn btn-link" href="">Delete this Branch</a>
        <a class="btn btn-primary" href="">Save Changes</a>
      </div>
    </div>
  </div>
</div>