{% include components/molecules/input-field.html 
  label="Address Line 1"
  name="address-line-1"
  type="text"
  placeholder="Address Line 1"
%}

{% include components/molecules/input-field.html 
  label="Address Line 2"
  name="address-line-2"
  type="text"
  placeholder="Address Line 2"
%}

{% include components/molecules/input-field.html 
  label="Address Line 3"
  name="address-line-3"
  type="text"
  placeholder="Address Line 3"
%}

{% include components/molecules/input-field.html 
  label="City / Town"
  name="city-town"
  type="text"
  placeholder="City / Town"
%}

{% include components/molecules/select-field.html 
  label="Country"
  name="country"
  placeholder="Select Country"
  list-value-name=site.data.list-value.country
%}

{% include components/molecules/input-field.html 
  label="State / Province / Region"
  name="state-province-region"
  type="text"
  placeholder="State / Province / Region"
%}

{% include components/molecules/input-field.html 
  label="ZIP / Postal Code"
  name="zip-postal-code"
  type="text"
  placeholder="ZIP / Postal Code"
%}