{% include components/molecules/input-field-horizontal.html 
  label="Address Line 1"
  name="address-line-1"
  type="text"
  placeholder="Address Line 1"
  label-size="col-lg-3"
  input-size="col-lg-6"
%}

{% include components/molecules/input-field-horizontal.html 
  label="Address Line 2"
  name="address-line-2"
  type="text"
  placeholder="Address Line 2"
  label-size="col-lg-3"
  input-size="col-lg-6"
%}

{% include components/molecules/input-field-horizontal.html 
  label="Address Line 3"
  name="address-line-3"
  type="text"
  placeholder="Address Line 3"
  label-size="col-lg-3"
  input-size="col-lg-6"
%}

{% include components/molecules/input-field-horizontal.html 
  label="City / Town"
  name="city-town"
  type="text"
  placeholder="City / Town"
  label-size="col-lg-3"
  input-size="col-lg-6"
%}

{% include components/molecules/select-field-horizontal.html 
  label="Country"
  name="country"
  placeholder="Select Country"
  list-value-name=site.data.list-value.country
  label-size="col-lg-3"
  input-size="col-lg-6"
%}

{% include components/molecules/input-field-horizontal.html 
  label="State / Province / Region"
  name="state-province-region"
  type="text"
  placeholder="State / Province / Region"
  label-size="col-lg-3"
  input-size="col-lg-6"
%}

{% include components/molecules/input-field-horizontal.html 
  label="ZIP / Postal Code"
  name="zip-postal-code"
  type="text"
  placeholder="ZIP / Postal Code"
  label-size="col-lg-3"
  input-size="col-lg-6"
%}