{% include components/molecules/input-field.html 
  label="Referee Name  "
  name="Referee Name  "
  type="text"
  placeholder="Enter Referee Name"
%}

{% include components/molecules/input-field.html 
  label="Company"
  name="Company"
  type="text"
  placeholder="Enter Company"
%}

{% include components/molecules/input-field.html 
  label="Position"
  name="Position"
  type="text"
  placeholder="Enter Position"
%}

{% include components/molecules/input-field.html 
  label="Contact Details"
  name="Contact Details"
  type="text"
  placeholder="Enter Contact Details"
%}