{% include components/molecules/input-field-horizontal.html 
  label="Referee Name  "
  name="Referee Name  "
  type="text"
  placeholder="Enter Referee Name"
  label-size=include.label-size
  input-size=include.input-size
%}

{% include components/molecules/input-field-horizontal.html 
  label="Company"
  name="Company"
  type="text"
  placeholder="Enter Company"
  label-size=include.label-size
  input-size=include.input-size
%}

{% include components/molecules/input-field-horizontal.html 
  label="Position"
  name="Position"
  type="text"
  placeholder="Enter Position"
  label-size=include.label-size
  input-size=include.input-size
%}

{% include components/molecules/input-field-horizontal.html 
  label="Contact Details"
  name="Contact Details"
  type="text"
  placeholder="Enter Contact Details"
  label-size=include.label-size
  input-size=include.input-size
%}