{% include components/molecules/input-field-horizontal.html 
  label="Referee Name  "
  name="Referee Name  "
  type="text"
  placeholder="Enter Referee Name"
  label-size="col-sm-4 col-lg-3 col-xl-2"
  input-size="col-sm-5 col-lg-4 col-xl-3"
%}

{% include components/molecules/input-field-horizontal.html 
  label="Company"
  name="Company"
  type="text"
  placeholder="Enter Company"
  label-size="col-sm-4 col-lg-3 col-xl-2"
  input-size="col-sm-5 col-lg-4 col-xl-3"
%}

{% include components/molecules/input-field-horizontal.html 
  label="Position"
  name="Position"
  type="text"
  placeholder="Enter Position"
  label-size="col-sm-4 col-lg-3 col-xl-2"
  input-size="col-sm-5 col-lg-4 col-xl-3"
%}

{% include components/molecules/input-field-horizontal.html 
  label="Contact Details"
  name="Contact Details"
  type="text"
  placeholder="Enter Contact Details"
  label-size="col-sm-4 col-lg-3 col-xl-2"
  input-size="col-sm-5 col-lg-4 col-xl-3"
%}