---
layout: app
subnavbar: true
container-type: container
heading-title: Settings
---

<div class="row">
  <div class="col-lg-4">
    <h1 class="h3">Branches</h1>
    <!-- <p>This is the list of Services your business offers, your appointment types. Feel free to duplicate them if they have different variations (examples: “Massage (60 min.)” and “Massage (90 min.)”. The “Price” field will be used when creating the default Invoice for your customer- you can always change it. All services entered here can be booked online by your customers through your Online Booking page.</p> -->
  </div>
  <div class="col-lg-8">
    <div class="card">

      <div class="card-header d-flex align-items-start align-items-center justify-content-between">
        <h6 class="card-header-title h5">Branches</h6>
        <a class="btn btn-primary" href="">Add New Branches</a>
      </div>

      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action" href="{{ site.baseurl }}/app/settings/company/branches/vermont.html">
          <div class="media">
            <div class="media-body align-self-center">
              <p class="text-lg mb-0"><b>Vermont Branch</b></p>
              <p class="mb-0">92277 Vermont Drive</p>
              <!-- <div class="row">
                <div class="col">Monday to Friday</div>
                <div class="col">09:00 AM to 10:00 PM</div>
              </div>
              <div class="row">
                <div class="col">Saturday</div>
                <div class="col">09:00 AM to 12:00 PM</div>
              </div>
              <div class="row">
                <div class="col">Sunday</div>
                <div class="col">CLOSED</div>
              </div> -->
            </div>
            <div class="d-inline-flex align-self-center ml-3">
              <i class="fas fa-chevron-right" style="font-size: 20px;"></i>
            </div>
          </div>
        </a>
        <a class="list-group-item list-group-item-action" href="">
          <div class="media">
            <div class="media-body align-self-center">
              <p class="text-lg mb-0"><b>Golden Leaf Branch</b></p>
              <p class="mb-0">098 Golden Leaf Point	</p>
              <!-- <div class="row">
                <div class="col">Monday to Friday</div>
                <div class="col">09:00 AM to 10:00 PM</div>
              </div>
              <div class="row">
                <div class="col">Saturday</div>
                <div class="col">09:00 AM to 12:00 PM</div>
              </div>
              <div class="row">
                <div class="col">Sunday</div>
                <div class="col">CLOSED</div>
              </div> -->
            </div>
            <div class="d-inline-flex align-self-center ml-3">
              <i class="fas fa-chevron-right" style="font-size: 20px;"></i>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<hr class="dashed">

<div class="row">
  <div class="col-lg-4">
    <h1 class="h3">Services</h1>
    <p class="text-lg">This is the list of Services your business offers, your appointment types. Feel free to duplicate them if they have different variations (examples: “Massage (60 min.)” and “Massage (90 min.)”. The “Price” field will be used when creating the default Invoice for your customer- you can always change it. All services entered here can be booked online by your customers through your Online Booking page.</p>
  </div>
  <div class="col-lg-8">
    <div class="card">

      <div class="card-header d-flex align-items-start align-items-center justify-content-between">
        <div class="form-inline">
          {% include components/atoms/input.html 
            name="previous-name"
            type="text"
            placeholder="Search Services"
          %}
        </div>
        <a class="btn btn-primary" href="">Add New Service</a>
      </div>
      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action" href="{{ site.baseurl }}/app/settings/company/services/the-essenses-signature-massage.html">
          <div class="media">
            <div class="media-body">
              <div class="row">
                <div class="col-6 align-self-center">
                  <p class="text-lg mb-0"><b>The Essenses Signature Massage</b></p>
                </div>
                <div class="col-3 align-self-center">
                  <p class="mb-0">60 to 120 Minutes</p>
                </div>
                <div class="col-3 align-self-center">
                  <p class="mb-0">P 200 - 500</p>
                </div>
              </div>
            </div>
            <div class="d-inline-flex align-self-center ml-3">
              <i class="fas fa-chevron-right" style="font-size: 20px;"></i>
            </div>
          </div>
        </a>
        <a class="list-group-item list-group-item-action" href="">
          <div class="media">
            <div class="media-body">
              <div class="row">
                <div class="col-6 align-self-center">
                  <p class="text-lg mb-0"><b>Pevonia Body Polish</b></p>
                </div>
                <div class="col-3 align-self-center">
                  <p class="mb-0">60 Mins</p>
                </div>
                <div class="col-3 align-self-center">
                  <p class="mb-0">P 200</p>
                </div>
              </div>
            </div>
            <div class="d-inline-flex align-self-center ml-3">
              <i class="fas fa-chevron-right" style="font-size: 20px;"></i>
            </div>
          </div>
        </a>
        <a class="list-group-item list-group-item-action" href="">
          <div class="media">
            <div class="media-body align-self-center">
              <div class="row">
                <div class="col-6 align-self-center">
                  <p class="text-lg mb-0"><b>Body Polish with Seasalt &amp; Honey</b></p>
                </div>
                <div class="col-3 align-self-center">
                  <p class="mb-0">60 Mins</p>
                </div>
                <div class="col-3 align-self-center">
                  <p class="mb-0">P 200</p>
                </div>
              </div>
            </div>
            <div class="d-inline-flex align-self-center ml-3">
              <i class="fas fa-chevron-right" style="font-size: 20px;"></i>
            </div>
          </div>
        </a>
        <a class="list-group-item list-group-item-action" href="">
          <div class="media">
            <div class="media-body align-self-center">
              <div class="row">
                <div class="col-6 align-self-center">
                  <p class="text-lg mb-0"><b>Mt. Mayon Hot Stone Therapy Massage</b></p>
                </div>
                <div class="col-3 align-self-center">
                  <p class="mb-0">60 Mins</p>
                </div>
                <div class="col-3 align-self-center">
                  <p class="mb-0">P 200</p>
                </div>
              </div>
            </div>
            <div class="d-inline-flex align-self-center ml-3">
              <i class="fas fa-chevron-right" style="font-size: 20px;"></i>
            </div>
          </div>
        </a>
        <a class="list-group-item list-group-item-action" href="">
          <div class="media">
            <div class="media-body align-self-center">
              <div class="row">
                <div class="col-6 align-self-center">
                    <p class="text-lg mb-0"><b>Foot Spa with Scrub</b></p>
                  </div>
                <div class="col-3 align-self-center">
                  <p class="mb-0">60 Mins</p>
                </div>
                <div class="col-3 align-self-center">
                  <p class="mb-0">P 200</p>
                </div>
              </div>
            </div>
            <div class="d-inline-flex align-self-center ml-3">
              <i class="fas fa-chevron-right" style="font-size: 20px;"></i>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


<hr class="dashed">

<div class="row">
  <div class="col-lg-4">
    <h1 class="h3">Products</h1>
    <p class="text-lg">This is your list of Products for sale, to use inside customer Invoices. These items will not show inside your Online Booking page. You don’t need to re-create your list of Services here. Example of products: “Shampoo bottle”, “At-home whitening kit”, etc.</p>
  </div>
  <div class="col-lg-8">
    <div class="card">

      <div class="card-header d-flex align-items-start align-items-center justify-content-between">
        <div class="form-inline">
          {% include components/atoms/input.html 
            name="previous-name"
            type="text"
            placeholder="Search Products"
          %}
        </div>
        <a class="btn btn-primary" href="">Add New Product</a>
      </div>

      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action" href="{{ site.baseurl }}/app/settings/company/services/the-essenses-signature-massage.html">
          <div class="media">
            <div class="media-body">
              <div class="row">
                <div class="col align-self-center">
                  <p class="text-lg mb-0"><b>Lotion</b></p>
                </div>
                <div class="col align-self-center">
                  <p class="mb-0">P 200</p>
                </div>
              </div>
            </div>
            <div class="d-inline-flex align-self-center ml-3">
              <i class="fas fa-chevron-right" style="font-size: 20px;"></i>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<hr class="dashed">

<div class="row">
  <div class="col-lg-4">
    <h1 class="h3">Taxes</h1>
    <p class="text-lg">What are the local taxes in your area? Just the standard GST/HST or more? Are certain citizens tax-exempt? You can create all the tax combinations you want here.</p>
  </div>
  <div class="col-lg-8">
    <div class="card">

      <div class="card-header d-flex align-items-start align-items-center justify-content-between">
        <h6 class="card-header-title h5">Taxes</h6>
        <a class="btn btn-primary" href="">Add New Tax</a>
      </div>

      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action" href="{{ site.baseurl }}/app/settings/company/services/the-essenses-signature-massage.html">
          <div class="media">
            <div class="media-body">
              <div class="row">
                <div class="col-6 align-self-center">
                  <p class="text-lg mb-0"><b>Value Added Tax (VAT)</b></p>
                </div>
                <div class="col-3 align-self-center">
                  <p class="mb-0">12%</p>
                </div>
                <div class="col-3 align-self-center">
                  <p class="mb-0">
                    <span class="badge badge-warning">Default</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="d-inline-flex align-self-center ml-3">
              <i class="fas fa-chevron-right" style="font-size: 20px;"></i>
            </div>
          </div>
        </a>
        <a class="list-group-item list-group-item-action" href="{{ site.baseurl }}/app/settings/company/services/the-essenses-signature-massage.html">
          <div class="media">
            <div class="media-body">
              <div class="row">
                <div class="col-6 align-self-center">
                  <p class="text-lg mb-0"><b>No Tax</b></p>
                </div>
                <div class="col-3 align-self-center">
                  <p class="mb-0"></p>
                </div>
                <div class="col-3 align-self-center">
                  <p class="mb-0"></p>
                </div>
              </div>
            </div>
            <div class="d-inline-flex align-self-center ml-3">
              <i class="fas fa-chevron-right" style="font-size: 20px;"></i>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>

<hr class="dashed">

<div class="row">
  <div class="col-lg-4">
    <h1 class="h3">Payment Methods</h1>
    <p class="text-lg">Use this section to log all the payment methods you accept inside your store. It will be useful for your monthly reporting. Suggestions: Cash, Credit Card, Gift Cards, etc.</p>
  </div>
  <div class="col-lg-8">
    <div class="card">
      <div class="card-header d-flex align-items-start align-items-center justify-content-between">
        <h6 class="card-header-title h5">Payment Method</h6>
        <a class="btn btn-primary" href="">Add New Payment Method</a>
      </div>
      
      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action" href="{{ site.baseurl }}/app/settings/company/services/the-essenses-signature-massage.html">
          <div class="media">
            <div class="media-body">
              <p class="text-lg mb-0"><b>Debit/Credit Card</b></p>
            </div>
            <div class="d-inline-flex align-self-center ml-3">
              <i class="fas fa-chevron-right" style="font-size: 20px;"></i>
            </div>
          </div>
        </a>
        <a class="list-group-item list-group-item-action" href="{{ site.baseurl }}/app/settings/company/services/the-essenses-signature-massage.html">
          <div class="media">
            <div class="media-body">
              <p class="text-lg mb-0"><b>Cash</b></p>
            </div>
            <div class="d-inline-flex align-self-center ml-3">
              <i class="fas fa-chevron-right" style="font-size: 20px;"></i>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>
