---
layout: app
container-type: container
heading: true
heading-title: Settings
heading-navbar: true
sub-heading:
sub-heading-title:
---

<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-start align-items-center justify-content-between">
        <h6 class="card-header-title h4">Branches</h6>
        <!-- <a class="btn btn-link" href="{{ site.baseurl }}/app/settings/company/branches/add-new-branch.html"><i class="fas fa-plus"></i> Add New Branches</a> -->
      </div>
      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action" href="{{ site.baseurl }}/app/settings/company/branches/vermont.html">
          <div class="media">
            <div class="media-body align-self-center">
              <div class="row">
                <div class="col-6 align-self-center">
                  <p class="text-lg mb-0"><b>Vermont Branch</b></p>
                  <p class="mb-0">92277 Vermont Drive</p>
                </div>
                <div class="col-3 align-self-center">
                  <p class="mb-0">28 Services</p>
                </div>
                <div class="col-3 align-self-center">
                  <p class="mb-0">48 Hours Open</p>
                </div>
              </div>
            </div>
            <div class="d-inline-flex align-self-center ml-3">
              <i class="fas fa-chevron-right" style="font-size: 20px;"></i>
            </div>
          </div>
        </a>
        <a class="list-group-item list-group-item-action" href="">
          <div class="media">
            <div class="media-body align-self-center">
              <p class="text-lg mb-0"><b>Golden Leaf Branch</b></p>
              <p class="mb-0">098 Golden Leaf Point	</p>
            </div>
            <div class="d-inline-flex align-self-center ml-3">
              <i class="fas fa-chevron-right" style="font-size: 20px;"></i>
            </div>
          </div>
        </a>
      </div>
      <div class="card-footer">
        <a href="{{ site.baseurl }}/app/settings/company/branches/"><b>Manage Branches</b></a>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-header">
        <h6 class="card-header-title h4">Services</h6>
        <p class="card-header-subtitle">This is the list of Services your business offers, your appointment types. Feel free to duplicate them if they have different variations (examples: “Massage (60 min.)” and “Massage (90 min.)”. The “Price” field will be used when creating the default Invoice for your customer- you can always change it. All services entered here can be booked online by your customers through your Online Booking page.</p>
        <!-- <div class="form-inline">
          <div class="form-icon">
            {% include components/atoms/form/input.html 
              isInputLarge=""
              isInputRequired=""
              input-name="search-services"
              input-type="search"
              input-value=""
              input-placeholder="Search Services"
            %}
            <span class="form-control-icon"><i class="fas fa-search"></i></span>
          </div>
        </div>
        <a class="btn btn-link" href="{{ site.baseurl }}/app/settings/company/services/add-new-services.html"><i class="fas fa-plus"></i> Add New Service</a> -->
      </div>
      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action" href="{{ site.baseurl }}/app/settings/company/services/the-essenses-signature-massage.html">
          <div class="media">
            <div class="media-body">
              <div class="row">
                <div class="col-6 align-self-center">
                  <p class="text-lg mb-0"><b>The Essenses Signature Massage</b></p>
                </div>
                <div class="col-3 align-self-center">
                  <p class="mb-0">60 to 120 Minutes</p>
                </div>
                <div class="col-3 align-self-center">
                  <p class="mb-0">P 200 - 500</p>
                </div>
              </div>
            </div>
            <div class="d-inline-flex align-self-center ml-3">
              <i class="fas fa-chevron-right" style="font-size: 20px;"></i>
            </div>
          </div>
        </a>
        <a class="list-group-item list-group-item-action" href="">
          <div class="media">
            <div class="media-body">
              <div class="row">
                <div class="col-6 align-self-center">
                  <p class="text-lg mb-0"><b>Pevonia Body Polish</b></p>
                </div>
                <div class="col-3 align-self-center">
                  <p class="mb-0">60 Mins</p>
                </div>
                <div class="col-3 align-self-center">
                  <p class="mb-0">P 200</p>
                </div>
              </div>
            </div>
            <div class="d-inline-flex align-self-center ml-3">
              <i class="fas fa-chevron-right" style="font-size: 20px;"></i>
            </div>
          </div>
        </a>
        <a class="list-group-item list-group-item-action" href="">
          <div class="media">
            <div class="media-body align-self-center">
              <div class="row">
                <div class="col-6 align-self-center">
                  <p class="text-lg mb-0"><b>Body Polish with Seasalt &amp; Honey</b></p>
                </div>
                <div class="col-3 align-self-center">
                  <p class="mb-0">60 Mins</p>
                </div>
                <div class="col-3 align-self-center">
                  <p class="mb-0">P 200</p>
                </div>
              </div>
            </div>
            <div class="d-inline-flex align-self-center ml-3">
              <i class="fas fa-chevron-right" style="font-size: 20px;"></i>
            </div>
          </div>
        </a>
        <a class="list-group-item list-group-item-action" href="">
          <div class="media">
            <div class="media-body align-self-center">
              <div class="row">
                <div class="col-6 align-self-center">
                  <p class="text-lg mb-0"><b>Mt. Mayon Hot Stone Therapy Massage</b></p>
                </div>
                <div class="col-3 align-self-center">
                  <p class="mb-0">60 Mins</p>
                </div>
                <div class="col-3 align-self-center">
                  <p class="mb-0">P 200</p>
                </div>
              </div>
            </div>
            <div class="d-inline-flex align-self-center ml-3">
              <i class="fas fa-chevron-right" style="font-size: 20px;"></i>
            </div>
          </div>
        </a>
        <a class="list-group-item list-group-item-action" href="">
          <div class="media">
            <div class="media-body align-self-center">
              <div class="row">
                <div class="col-6 align-self-center">
                    <p class="text-lg mb-0"><b>Foot Spa with Scrub</b></p>
                  </div>
                <div class="col-3 align-self-center">
                  <p class="mb-0">60 Mins</p>
                </div>
                <div class="col-3 align-self-center">
                  <p class="mb-0">P 200</p>
                </div>
              </div>
            </div>
            <div class="d-inline-flex align-self-center ml-3">
              <i class="fas fa-chevron-right" style="font-size: 20px;"></i>
            </div>
          </div>
        </a>
        <div class="list-group-item">
          +5 more
        </div>
      </div>
      <div class="card-footer">
        <a href=""><b>Manage Services</b></a>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-header">
        <h6 class="card-header-title h4">Products</h6>
        <p class="card-header-subtitle">This is your list of Products for sale, to use inside customer Invoices. These items will not show inside your Online Booking page. You don’t need to re-create your list of Services here. Example of products: “Shampoo bottle”, “At-home whitening kit”, etc.</p>
        <!-- <div class="form-inline">
          <div class="form-icon">
            {% include components/atoms/form/input.html 
              isInputLarge=""
              isInputRequired=""
              input-name="search-products"
              input-type="search"
              input-value=""
              input-placeholder="Search Products"
            %}
            <span class="form-control-icon"><i class="fas fa-search"></i></span>
          </div>
        </div>
        <a class="btn btn-link" href="{{ site.baseurl }}/app/settings/company/products/add-new-product.html"><i class="fas fa-plus"></i> Add New Product</a> -->
      </div>
      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action" href="{{ site.baseurl }}/app/settings/company/products/lotion.html">
          <div class="media">
            <div class="media-body">
              <div class="row">
                <div class="col align-self-center">
                  <p class="text-lg mb-0"><b>Lotion</b></p>
                </div>
                <div class="col align-self-center">
                  <p class="mb-0">P 200</p>
                </div>
              </div>
            </div>
            <div class="d-inline-flex align-self-center ml-3">
              <i class="fas fa-chevron-right" style="font-size: 20px;"></i>
            </div>
          </div>
        </a>
      </div>
      <div class="card-footer">
        <a href=""><b>Manage Products</b></a>
      </div>
    </div>
    <div class="card mb-4">

      <div class="card-header">
        <h6 class="card-heading-title h4">Taxes</h6>
        <p class="card-header-subtitle">What are the local taxes in your area? Just the standard GST/HST or more? Are certain citizens tax-exempt? You can create all the tax combinations you want here.</p>
        <!-- <a class="btn btn-link" href=""><i class="fas fa-plus"></i> Add New Tax</a> -->
      </div>
      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action" href="{{ site.baseurl }}/app/settings/company/taxes/value-added-tax.html">
          <div class="media">
            <div class="media-body">
              <div class="row">
                <div class="col-6 align-self-center">
                  <p class="text-lg mb-0"><b>Value Added Tax (VAT)</b></p>
                </div>
                <div class="col-3 align-self-center">
                  <p class="mb-0">12%</p>
                </div>
                <div class="col-3 align-self-center">
                  <p class="mb-0">
                    <span class="badge badge-warning">Default</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="d-inline-flex align-self-center ml-3">
              <i class="fas fa-chevron-right" style="font-size: 20px;"></i>
            </div>
          </div>
        </a>
        <a class="list-group-item list-group-item-action" href="{{ site.baseurl }}/app/settings/company/taxes/value-added-tax.html">
          <div class="media">
            <div class="media-body">
              <div class="row">
                <div class="col-6 align-self-center">
                  <p class="text-lg mb-0"><b>No Tax</b></p>
                </div>
                <div class="col-3 align-self-center">
                  <p class="mb-0"></p>
                </div>
                <div class="col-3 align-self-center">
                  <p class="mb-0"></p>
                </div>
              </div>
            </div>
            <div class="d-inline-flex align-self-center ml-3">
              <i class="fas fa-chevron-right" style="font-size: 20px;"></i>
            </div>
          </div>
        </a>
      </div>
      <div class="card-footer">
        <a href=""><b>Manage Taxes</b></a>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <p class="card-header-title h4">Payment Methods</p>
        <p class="card-header-subtitle">Use this section to log all the payment methods you accept inside your store. It will be useful for your monthly reporting. Suggestions: Cash, Credit Card, Gift Cards, etc.</p>
        <!-- <a class="btn btn-link" href=""><i class="fas fa-plus"></i> Add New Payment Method</a> -->
      </div>
      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action" href="{{ site.baseurl }}/app/settings/company/payment-method/debit-and-credit-card.html">
          <div class="media">
            <div class="media-body">
              <p class="text-lg mb-0"><b>Debit/Credit Card</b></p>
            </div>
            <div class="d-inline-flex align-self-center ml-3">
              <i class="fas fa-chevron-right" style="font-size: 20px;"></i>
            </div>
          </div>
        </a>
        <a class="list-group-item list-group-item-action" href="{{ site.baseurl }}/app/settings/company/payment-method/debit-and-credit-card.html">
          <div class="media">
            <div class="media-body">
              <p class="text-lg mb-0"><b>Cash</b></p>
            </div>
            <div class="d-inline-flex align-self-center ml-3">
              <i class="fas fa-chevron-right" style="font-size: 20px;"></i>
            </div>
          </div>
        </a>
      </div>
      <div class="card-footer">
        <a href=""><b>Manage Payment Methods</b></a>
      </div>
    </div>
  </div>
</div>

