---
layout: app
heading-title: Calendar
---

<div class="row no-gutters">
  <div class="col" style="width: calc(100vw - 616px)">
    <div class="sub-heading">
      <div class="container">
        <div class="row">
          <div class="col-md-auto text-right">
            <button class="go-back" type="button" onclick="history.back(-1)">
              <i class="fas fa-arrow-left"></i>
            </button>
          </div>
          <div class="col text-center">Jasper Lepardo</div>
          <div class="col-md-auto text-right">
            <button class="go-back" type="button" onclick="history.back(-1)">
              <i class="fas fa-arrow-left"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div style="background-color: #ffffff; padding: 16px 24px">
      <div class="d-flex align-items-start align-items-center justify-content-between">
        <div>
          {% include components/molecules/nav-tabs.html
            nav-type="nav-pills"
            isLarge=""
            isStacked=""
            isJustified=""
            isResponsive=""
            list-value-name=site.data.navigation.calendar-settings
            hasIcon=""
          %}
        </div>
        <div class="d-flex align-items-center">
          <a class="btn btn-link" href=""><i class="fa fa-angle-left"></i></a>
          <p class="mb-0"><b>September 23 - 29, 2018</b></p>
          <a class="btn btn-link" href=""><i class="fa fa-angle-right"></i></a>
        </div>
        <a class="btn btn-warning" data-toggle="modal" data-target="#new-appointment" href="#new-appointment">New Appointment</a>
      </div>
    </div>
    <div class="table-scroller">
      <table class="table weekly">
        <thead>
          <tr>
            <th></th>
            <th>23 Sun</th>
            <th>24 Mon</th>
            <th>25 Tue</th>
            <th>26 Wed</th>
            <th>27 Thu</th>
            <th>28 Fri</th>
            <th>29 Sat</th>
          </tr>
        </thead>
        <tbody>
          {% for time in site.data.list-value.business-hours %}
          <tr>
            <td>
              {{ time.text }}
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div style="border-left: 1px solid #d9d9d9; background-color: #f8f9fa;">
    <div class=" d-flex align-items-start align-items-center justify-content-between" style="padding: 0.75rem;" >
      <p class="text-lg mb-0"><b>September</b> <small>2018</small></p>
      <div>
        <a class="btn btn-link btn-sm" href=""><i class="fa fa-angle-left"></i></a>
        <a class="btn btn-link btn-sm" href=""><i class="fa fa-angle-right"></i></a>
      </div>
    </div>
    <table class="table table-borderless table-sm text-center" id="small-calendar">
      <thead>
        <tr>
          <th>Sun</th>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-muted">26</td>
          <td class="text-muted">27</td>
          <td class="text-muted">28</td>
          <td class="text-muted">29</td>
          <td class="text-muted">30</td>
          <td class="text-muted">31</td>
          <td>01</td>
        </tr>
        <tr>
          <td>02</td>
          <td>03</td>
          <td>04</td>
          <td>05</td>
          <td>06</td>
          <td>07</td>
          <td>08</td>
        </tr>
        <tr>
          <td>09</td>
          <td>10</td>
          <td>11</td>
          <td>12</td>
          <td>13</td>
          <td>14</td>
          <td>15</td>
        </tr>
        <tr>
          <td>16</td>
          <td>17</td>
          <td>18</td>
          <td>19</td>
          <td>20</td>
          <td>21</td>
          <td>22</td>
        </tr>
        <tr>
          <td>23</td>
          <td>24</td>
          <td>25</td>
          <td>26</td>
          <td>27</td>
          <td class="active">28</td>
          <td>29</td>
        </tr>
        <tr>
          <td>30</td>
          <td class="text-muted">01</td>
          <td class="text-muted">02</td>
          <td class="text-muted">03</td>
          <td class="text-muted">04</td>
          <td class="text-muted">05</td>
          <td class="text-muted">06</td>
        </tr>
      </tbody>
    </table>

    <hr class="dashed" />

    <div
      class=" d-flex align-items-start align-items-center justify-content-between"
      style="padding: 0.75rem;"
    >
      <p class="text-lg"><b>Search for Availability</b></p>
    </div>
    <div class="container">
      <form action="">
        {% include components/molecules/form-group/input.html form-layout=""
        isInputLarge="" isInputRequired="" hasFormLabel="" form-label-class=""
        form-label-size="" form-label-text="Date" input-size=""
        input-type="date" input-name="date" input-value="" input-placeholder=""
        hasFormIcon="none" form-icon-name="" form-icon-placement=""
        hasFormHelper="none" form-helper-text="" %} {% include
        components/molecules/form-group/input.html form-layout=""
        isInputLarge="" isInputRequired="" hasFormLabel="" form-label-class=""
        form-label-size="" form-label-text="Services" input-size=""
        input-type="text" input-name="date" input-value="" input-placeholder=""
        hasFormIcon="none" form-icon-name="" form-icon-placement=""
        hasFormHelper="none" form-helper-text="" %} {% include
        components/molecules/form-group/input.html form-layout=""
        isInputLarge="" isInputRequired="" hasFormLabel="" form-label-class=""
        form-label-size="" form-label-text="Employee" input-size=""
        input-type="text" input-name="date" input-value="" input-placeholder=""
        hasFormIcon="none" form-icon-name="" form-icon-placement=""
        hasFormHelper="none" form-helper-text="" %}

        <a class="btn btn-primary" href="">Search</a>
      </form>
    </div>
  </div>
</div>

{% include components/organisms/popover/appointment-details.html %} {% include
components/organisms/modals/new-appointment.html %}
