<div class="form-group form-date-group row {{include.isLarge }} {{ include.isRequired }}">
  {% include components/atoms/label.html %}
  <div class="{{ include.input-size}}">
    <div class="form-day-control">
      {% include components/atoms/select.html
        type=""
        name="day"
        placeholder="Day"
        list-value-name=site.data.list-value.day
      %}
    </div>
    <div class="form-month-control">
      {% include components/atoms/select.html
        type=""
        name="month"
        placeholder="Month"
        list-value-name=site.data.list-value.month
      %}
    </div>
    <div class="form-year-control">
      {% include components/atoms/select.html
        type=""
        name="year"
        placeholder="Year"
        list-value-name=site.data.list-value.year
      %}
      <div class="checkbox">
        <label>
          <input type="checkbox" checked="">Show Year
        </label>
      </div>
    </div>



  </div>
</div>
