<fieldset class="form-group form-date-group {{include.isLarge }} {{ include.isRequired }}">
  {% include components/atoms/label.html %}
  <div class="{{ include.input-size}}">
    {% include components/atoms/select.html
      type="form-day-control"
      name="day"
      placeholder="Day"
      list-value-name=site.data.list-value.day
    %}
    {% include components/atoms/select.html
      type="form-month-control"
      name="month"
      placeholder="Month"
      list-value-name=site.data.list-value.month
    %}
    {% include components/atoms/select.html
      type="form-year-control"
      name="year"
      placeholder="Year"
      list-value-name=site.data.list-value.year
    %}
  </div>
</fieldset>
