---
layout: app
container-type:
heading: 
heading-title: Customers
---

<div class="row no-gutters">
  <div class="col-lg-4 col-hd-3 border-right d-none d-xl-block list-wrapper">
    <div class="heading">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <h1 class="heading-title h3">{{ layout.heading-title }}{{ page.heading-title }}</h1>
          </div>
        </div>
        <div class="heading-search">
          <div class="form-icon form-icon-lg">
            {% include components/atoms/form/input.html 
              isInputLarge="form-control-lg"
              isInputRequired=""
              input-name="search-customers"
              input-type="search"
              input-value=""
              input-placeholder="Search Customers"
            %}
            <span class="form-control-icon"><i class="fas fa-search"></i></span>
          </div>
        </div>
        {% if page.heading-navbar %}
          <nav class="heading-navbar">
            {% include components/molecules/nav-menu.html
              nav-type="nav-tabs"
              isLarge=""
              isStacked=""
              isJustified=""
              isResponsive="nav-tabs-responsive"
              list-value-name=site.data.navigation.settings
              hasIcon=""
            %}
          </nav>
        {% endif %}
      </div>
    </div>
    <div class="list-group list-group-flush">
      {% for customer in site.customers %}
        <a href="{{ site.baseurl }}/app/customers/{{ customer.slug }}" class="list-group-item list-group-item-action {% if page.url contains customer.slug %} active {% endif %}">
          <div class="media">
            <div class="d-inline-flex mr-3">
              <img class="rounded-circle" src="https://ui-avatars.com/api/?name={{ customer.fname }}+{{ customer.lname }}&?background={{ customer.background-color }}&color=fff" alt="" width="48" height="48">
            </div>
            <div class="media-body align-self-center">
              <p class="text-lg mb-0"><b>{{ customer.full-name }}</b></p>
              <p class="mb-0">67% punctuality (2/3)</p>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
    <a class="btn btn-warning btn-fab" href=""><i class="fas fa-plus"></i></a>
  </div>

  <div class="col-xl-8 col-hd-9">
    <div class="container-fluid">
      <div class="heading" style="background-color: transparent; box-shadow: none; border-bottom: 1px solid #d8d8d8;">
        <h1 class="heading-title h3">Add New Customer</h1>
      </div>
      <div class="row">
        <div class="col-8 offset-2">
            <form action="">
              <p class="lead">Basic Details</p>
              {% include components/molecules/form-group/input.html 
                form-layout="horizontal"
                isInputLarge=""
                isInputRequired=""
                hasFormLabel=""
                form-label-class="form-label"
                form-label-size="col-lg-3"
                form-label-text="Legal Business Name"
                input-size="col-lg-6"
                input-type="text"
                input-name="legal-business-name"
                input-value=""
                input-placeholder="Enter Legal Business Name"
                hasFormIcon="none"
                form-icon-name=""
                form-icon-placement=""
                hasFormHelper=""
                form-helper-text="This will appear on Customer Invoices"
              %}
    
              {% include components/molecules/form-group/input.html 
                form-layout="horizontal"
                isInputLarge=""
                isInputRequired=""
                hasFormLabel=""
                form-label-class="form-label"
                form-label-size="col-lg-3"
                form-label-text="Branch Name"
                input-size="col-lg-6"
                input-type="text"
                input-name="branch-name"
                input-value=""
                input-placeholder="Enter Branch Name"
                hasFormIcon="none"
                form-icon-name=""
                form-icon-placement=""
                hasFormHelper=""
                form-helper-text="This will appear on Online Booking and Automated Messages"
              %}
    
              {% include components/molecules/form-group/input.html 
                form-layout="horizontal"
                isInputLarge=""
                isInputRequired=""
                hasFormLabel=""
                form-label-class="form-label"
                form-label-size="col-lg-3"
                form-label-text="Login URL"
                input-size="col-lg-6"
                input-type="text"
                input-name="login-url"
                input-value=""
                input-placeholder="company-name.phollowup.com"
                hasFormIcon="none"
                form-icon-name=""
                form-icon-placement=""
                hasFormHelper="none"
                form-helper-text=""
              %}
    
              <hr class="dashed">
    
              <p class="lead">Contact Details</p>
    
              {% include components/molecules/form-group/input.html 
                form-layout="horizontal"
                isInputLarge=""
                isInputRequired=""
                hasFormLabel=""
                form-label-class="form-label"
                form-label-size="col-lg-3"
                form-label-text="Phone Number"
                input-size="col-lg-6"
                input-type="text"
                input-name="phone-number"
                input-value=""
                input-placeholder="Enter Phone Number"
                hasFormIcon="none"
                form-icon-name=""
                form-icon-placement=""
                hasFormHelper="none"
                form-helper-text=""
              %}
    
              {% include components/molecules/form-group/input.html 
                form-layout="horizontal"
                isInputLarge=""
                isInputRequired=""
                hasFormLabel=""
                form-label-class="form-label"
                form-label-size="col-lg-3"
                form-label-text="Email Address"
                input-size="col-lg-6"
                input-type="text"
                input-name="email-address"
                input-value=""
                input-placeholder="Enter Email Address"
                hasFormIcon="none"
                form-icon-name=""
                form-icon-placement=""
                hasFormHelper="none"
                form-helper-text=""
              %}
    
              {% include components/organisms/forms/address.html 
                form-layout="horizontal"
                isInputLarge=""
                isInputRequired=""
                form-label-class="form-label"
                form-label-size="col-lg-3"
                input-size="col-lg-6"
              %}

              {% include components/molecules/form-group/input.html 
                form-layout="horizontal"
                isInputLarge=""
                isInputRequired=""
                hasFormLabel=""
                form-label-class="form-label"
                form-label-size="col-lg-3"
                form-label-text="Time Zone"
                input-size="col-lg-6"
                input-type="text"
                input-name="time-zone"
                input-value=""
                input-placeholder="Select Time Zone"
                hasFormIcon="none"
                form-icon-name=""
                form-icon-placement=""
                hasFormHelper="none"
                form-helper-text=""
              %}

              {% include components/molecules/form-group/input.html 
                form-layout="horizontal"
                isInputLarge=""
                isInputRequired=""
                hasFormLabel=""
                form-label-class="form-label"
                form-label-size="col-lg-3"
                form-label-text="Currency"
                input-size="col-lg-6"
                input-type="text"
                input-name="time-zone"
                input-value=""
                input-placeholder="Select Currency"
                hasFormIcon="none"
                form-icon-name=""
                form-icon-placement=""
                hasFormHelper="none"
                form-helper-text=""
              %}
              
            </form>
        </div>
      </div>
    </div>
  </div>
</div>