---
layout: app

container-type:

heading-title: Customers
heading-button: <a class="btn btn-warning" href="">Add New Customers</a>
---

  <div class="row no-gutters">
    <div class="col-lg-3">
      <div class="p-3" style="background-color: #f8f9fa; border-bottom: 1px solid #d8d8d8;">
        <div class="form-icon">
          {% include components/atoms/form/input.html 
            isInputLarge=""
            isInputRequired=""
            input-name="search-customer"
            input-type="search"
            input-value=""
            input-placeholder="Search Customer"
          %}
          <span class="form-control-icon"><i class="fas fa-search"></i></span>
        </div>
      </div>
      <div class="list-group list-group-flush" style="max-height: calc(100vh - 134px); overflow: hidden; overflow-y: auto;">
        {% for customer in site.data.list-value.customer-name %}
          <a href="#" class="list-group-item list-group-item-action">
            <div class="media">
              <div class="d-inline-flex mr-3">
                <img class="rounded-circle" src="https://ui-avatars.com/api/?name={{ customer.fname }}+{{ customer.lname }}&?background={{ customer.background-color }}&color=fff" alt="" width="48" height="48">
              </div>
              <div class="media-body align-self-center">
                <p class="text-lg mb-0"><b>{{ customer.full-name }}</b></p>
                <p class="mb-0">67% punctuality (2/3)</p>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
      <a class="btn btn-warning" style="z-index: 1030; position: absolute; bottom: 24px; right: 24px; display: block; width: 56px; height: 56px; border-radius: 9999px; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); " href=""><i class="fas fa-plus"></i></a>
    </div>
    <div class="col-lg-9 border-left">
      






      <div class="shadow-sm" style="background-color: #fff; padding: 24px; padding-bottom: 0">
        <div class="media">
          <div class="d-inline-flex mr-3">
            <img class="rounded-circle" src="https://ui-avatars.com/api/?name=Keefe+Ealles" alt="" width="96" height="96">
          </div>
          <div class="media-body align-self-center">
            <div class="row">
              <div class="col align-self-center">
                <h6 class="h4 mt-4"><b>Keefe Ealles</b></h6>
                <p>67% punctuality (2/3)</p>
              </div>
              <div class="col align-self-center">
                <ul class="list list-icon list-icon-default mb-0">
                  <li><i class="list-item-icon fas fa-phone"></i><a href="">(0917) 116 1268</a></li>
                  <li><i class="list-item-icon fas fa-envelope"></i><a href="">jsprlprd@gmail.com</a></li>
                </ul>
              </div>
            </div>
            <a class="btn btn-light" href=""><i class="fas fa-pen"></i> Edit</a>
            <!-- <a class="btn btn-light" href=""><i class="fas fa-trash-alt"></i></a> -->
          </div>
        </div>
        <div class="cardnavbar mt-4">
          {% include components/molecules/nav-tabs.html
            nav-type="nav-tabs"
            isLarge=""
            isStacked=""
            isJustified=""
            isResponsive="nav-tabs-responsive"
            list-value-name=site.data.navigation.customer-settings
            hasIcon=""
          %}  
        </div>
      </div>

      <div class="container-fluid">
        <div class="tab-content">
          <div class="tab-pane show active" id="appointments-tab">

            <div class="mb-4">
                {% include components/molecules/nav-tabs.html
                  nav-type="nav-pills"
                  isLarge=""
                  isStacked=""
                  isJustified=""
                  isResponsive="nav-tabs-responsive"
                  list-value-name=site.data.navigation.booking-settings
                  hasIcon=""
                %}
    
            </div>

            <ul class="list-group list-group-flush list-group-custom">
              <li class="list-group-item list-group-item-action">
                <div class="row">
                  <div class="col order-1 order-sm-2">
                    <p class="text-lg mb-0"><a href=""><b>Friday, September 28, 2018 <span>at</span> 09:00 AM</b></a></p>
                    <p class="text-muted mb-0"><b>The Essenses Signature Massage</b> for <b>60 Mins</b> with <b>Jasper Lepardo</b></p>
                    <span class="badge badge-success">Confirmed</span>
                  </div>
                  <div class="col-sm-2 text-center order-3 align-self-center">
                    <a class="btn btn-link" href="">View Invoice</a>
                  </div>
                  <div class="col-sm-auto order-4 align-self-center">
                    <button class="btn btn-light">No Show</button>
                    <button class="btn btn-primary">Attended</button>
                  </div>
                </div>
              </li>
              <li class="list-group-item list-group-item-action">
                <div class="row">
                  <div class="col order-1 order-sm-2">
                    <p class="text-lg mb-0"><a href=""><b>Friday, September 28, 2018 <span>at</span> 09:00 AM</b></a></p>
                    <p class="text-muted mb-0"><b>The Essenses Signature Massage</b> for <b>60 Mins</b> with <b>Jasper Lepardo</b></p>
                    <span class="badge badge-success">Confirmed</span>
                  </div>
                  <div class="col-sm-2 text-center order-3 align-self-center">
                    <a class="btn btn-link" href="">View Invoice</a>
                  </div>
                  <div class="col-sm-auto order-4 align-self-center">
                    <button class="btn btn-light">No Show</button>
                    <button class="btn btn-primary">Attended</button>
                  </div>
                </div>
              </li>
              <li class="list-group-item list-group-item-action">
                <div class="row">
                  <div class="col order-1 order-sm-2">
                    <p class="text-lg mb-0"><a href=""><b>Friday, September 28, 2018 <span>at</span> 09:00 AM</b></a></p>
                    <p class="text-muted mb-0"><b>The Essenses Signature Massage</b> for <b>60 Mins</b> with <b>Jasper Lepardo</b></p>
                    <span class="badge badge-success">Confirmed</span>
                  </div>
                  <div class="col-sm-2 text-center order-3 align-self-center">
                    <a class="btn btn-link" href="">View Invoice</a>
                  </div>
                  <div class="col-sm-auto order-4 align-self-center">
                    <button class="btn btn-light">No Show</button>
                    <button class="btn btn-primary">Attended</button>
                  </div>
                </div>
              </li>
              <li class="list-group-item list-group-item-action">
                <div class="row">
                  <div class="col order-1 order-sm-2">
                    <p class="text-lg mb-0"><a href=""><b>Friday, September 28, 2018 <span>at</span> 09:00 AM</b></a></p>
                    <p class="text-muted mb-0"><b>The Essenses Signature Massage</b> for <b>60 Mins</b> with <b>Jasper Lepardo</b></p>
                    <span class="badge badge-success">Confirmed</span>
                  </div>
                  <div class="col-sm-2 text-center order-3 align-self-center">
                    <a class="btn btn-link" href="">View Invoice</a>
                  </div>
                  <div class="col-sm-auto order-4 align-self-center">
                    <button class="btn btn-light">No Show</button>
                    <button class="btn btn-primary">Attended</button>
                  </div>
                </div>
              </li>
              <li class="list-group-item list-group-item-action">
                <div class="row">
                  <div class="col order-1 order-sm-2">
                    <p class="text-lg mb-0"><a href=""><b>Friday, September 28, 2018 <span>at</span> 09:00 AM</b></a></p>
                    <p class="text-muted mb-0"><b>The Essenses Signature Massage</b> for <b>60 Mins</b> with <b>Jasper Lepardo</b></p>
                    <span class="badge badge-success">Confirmed</span>
                  </div>
                  <div class="col-sm-2 text-center order-3 align-self-center">
                    <a class="btn btn-link" href="">View Invoice</a>
                  </div>
                  <div class="col-sm-auto order-4 align-self-center">
                    <button class="btn btn-light">No Show</button>
                    <button class="btn btn-primary">Attended</button>
                  </div>
                </div>
              </li>
            </ul>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="tab-pane" id="custom-forms-tab">
            Custom Form
          </div>
          <div class="tab-pane" id="messages-tab">

          </div>
          <div class="tab-pane" id="satisfaction-tab">
            Satisfaction
          </div>
        </div>
  
      </div>













      
    </div>
  </div>
