---
layout: app
heading-title: Calendar
---

<div class="row no-gutters">
  <div class="col">
    <div class="container-fluid">

      <p class="lead"><span class="text-sm">TODAY</span><br><b>01 January 2018</b></p>


      <a class="btn btn-primary" href="#new-appointment" data-toggle="modal">New Appointment</a>
      <button class="btn btn-primary" id="view-appointment">View Appointment</button>

      
      <div class="card">


        <table class="table table-bordered mb-0 fixed_header">
          <thead>
            <tr>
              <th></th>
              <th>
                <div class="media" style="padding: 0.75rem;">
                  <div class="media-body align-self-center">
                    <p class="mb-0"><b>Jasper Lepardo</b></p>
                  </div>
                  <img class="rounded-circle ml-3" src="/assets/img/avatar.png" alt="" width="32" height="32">
                </div>
              </th>
              <th>
                <div class="media" style="padding: 0.75rem;">
                  <div class="media-body align-self-center">
                    <p class="mb-0"><b>Jasper Lepardo</b></p>
                  </div>
                  <img class="rounded-circle ml-3" src="/assets/img/avatar.png" alt="" width="32" height="32">
                </div>
              </th>
              <th>
                <div class="media" style="padding: 0.75rem;">
                  <div class="media-body align-self-center">
                    <p class="mb-0"><b>Jasper Lepardo</b></p>
                  </div>
                  <img class="rounded-circle ml-3" src="/assets/img/avatar.png" alt="" width="32" height="32">
                </div>
              </th>
              <th>
                <div class="media" style="padding: 0.75rem;">
                  <div class="media-body align-self-center">
                    <p class="mb-0"><b>Jasper Lepardo</b></p>
                  </div>
                  <img class="rounded-circle ml-3" src="/assets/img/avatar.png" alt="" width="32" height="32">
                </div>
              </th>
              <th>
                <div class="media" style="padding: 0.75rem;">
                  <div class="media-body align-self-center">
                    <p class="mb-0"><b>Jasper Lepardo</b></p>
                  </div>
                  <img class="rounded-circle ml-3" src="/assets/img/avatar.png" alt="" width="32" height="32">
                </div>
              </th>
              <th>
                <div class="media" style="padding: 0.75rem;">
                  <div class="media-body align-self-center">
                    <p class="mb-0"><b>Jasper Lepardo</b></p>
                  </div>
                  <img class="rounded-circle ml-3" src="/assets/img/avatar.png" alt="" width="32" height="32">
                </div>
              </th>
              <th>
                <div class="media" style="padding: 0.75rem;">
                  <div class="media-body align-self-center">
                    <p class="mb-0"><b>Jasper Lepardo</b></p>
                  </div>
                  <img class="rounded-circle ml-3" src="/assets/img/avatar.png" alt="" width="32" height="32">
                </div>
              </th>
              <th>
                <div class="media" style="padding: 0.75rem;">
                  <div class="media-body align-self-center">
                    <p class="mb-0"><b>Jasper Lepardo</b></p>
                  </div>
                  <img class="rounded-circle ml-3" src="/assets/img/avatar.png" alt="" width="32" height="32">
                </div>
              </th>
              <th>
                <div class="media" style="padding: 0.75rem;">
                  <div class="media-body align-self-center">
                    <p class="mb-0"><b>Jasper Lepardo</b></p>
                  </div>
                  <img class="rounded-circle ml-3" src="/assets/img/avatar.png" alt="" width="32" height="32">
                </div>
              </th>
              <th>
                <div class="media" style="padding: 0.75rem;">
                  <div class="media-body align-self-center">
                    <p class="mb-0"><b>Jasper Lepardo</b></p>
                  </div>
                  <img class="rounded-circle ml-3" src="/assets/img/avatar.png" alt="" width="32" height="32">
                </div>
              </th>
              <th>
                <div class="media" style="padding: 0.75rem;">
                  <div class="media-body align-self-center">
                    <p class="mb-0"><b>Jasper Lepardo</b></p>
                  </div>
                  <img class="rounded-circle ml-3" src="/assets/img/avatar.png" alt="" width="32" height="32">
                </div>
              </th>
              <th>
                <div class="media" style="padding: 0.75rem;">
                  <div class="media-body align-self-center">
                    <p class="mb-0"><b>Jasper Lepardo</b></p>
                  </div>
                  <img class="rounded-circle ml-3" src="/assets/img/avatar.png" alt="" width="32" height="32">
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="2">12:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td rowspan="2">01:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td rowspan="2">02:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td rowspan="2">03:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td rowspan="2">04:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td rowspan="2">05:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td rowspan="2">06:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td rowspan="2">07:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td rowspan="2">08:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td rowspan="2">09:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td rowspan="2">10:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td rowspan="2">11:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td rowspan="2">12:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td rowspan="2">01:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td rowspan="2">02:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td rowspan="2">03:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td rowspan="2">04:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td rowspan="2">05:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td rowspan="2">06:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td rowspan="2">07:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td rowspan="2">08:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td rowspan="2">09:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td rowspan="2">10:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td rowspan="2">11:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>


    </div>
  </div>
  <div  style="border-left: 1px solid #d9d9d9; background-color: #f8f9fa; height: calc(100vh - 65px); width: 360px;" >
    <div class=" d-flex align-items-start align-items-center justify-content-between" style="padding: 0.75rem;">
      <p class="text-lg mb-0"><b>January</b> <small>2018</small></p>
      <div>
        <a class="btn btn-light btn-sm" href=""><i class="fa fa-angle-left"></i></a>
        <a class="btn btn-light btn-sm" href=""><i class="fa fa-angle-right"></i></a>
      </div>
    </div>
    <table class="table table-borderless text-center">
      <thead>
        <tr>
          <th>Sun</th>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-muted">30</td>
          <td class="text-muted">31</td>
          <td>01</td>
          <td>02</td>
          <td>03</td>
          <td>04</td>
          <td>05</td>
        </tr>
        <tr>
          <td>06</td>
          <td>07</td>
          <td>08</td>
          <td>09</td>
          <td>10</td>
          <td>11</td>
          <td>12</td>
        </tr>
        <tr>
          <td>13</td>
          <td>14</td>
          <td>15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
          <td>19</td>
        </tr>
        <tr>
          <td>20</td>
          <td>21</td>
          <td>22</td>
          <td>23</td>
          <td>24</td>
          <td>25</td>
          <td>26</td>
        </tr>
        <tr>
          <td>27</td>
          <td>28</td>
          <td>29</td>
          <td>30</td>
          <td>31</td>
          <td class="text-muted">01</td>
          <td class="text-muted">02</td>
        </tr>
      </tbody>
    </table>

    <div class=" d-flex align-items-start align-items-center justify-content-between" style="padding: 0.75rem;">
      <p class="text-lg"><b>Calendars</b></p>
      <div>
        <a class="btn btn-light btn-sm" href=""><i class="fas fa-ellipsis-h"></i></a>
      </div>
    </div>
    <ul class="list-unstyled">
      <li class="media" style="padding: 0.75rem;">
        <img class="rounded-circle mr-3" src="/assets/img/avatar.png" alt="" width="32" height="32">
        <div class="media-body align-self-center">
          <p class="mb-0"><b>Jasper Lepardo</b></p>
        </div>
      </li>
      <li class="media" style="padding: 0.75rem;">
        <img class="rounded-circle mr-3" src="/assets/img/avatar.png" alt="" width="32" height="32">
        <div class="media-body align-self-center">
          <p class="mb-0"><b>Jasper Lepardo</b></p>
        </div>
      </li>
      <li class="media" style="padding: 0.75rem;">
        <img class="rounded-circle mr-3" src="/assets/img/avatar.png" alt="" width="32" height="32">
        <div class="media-body align-self-center">
          <p class="mb-0"><b>Jasper Lepardo</b></p>
        </div>
      </li>
      <li class="media" style="padding: 0.75rem;">
        <img class="rounded-circle mr-3" src="/assets/img/avatar.png" alt="" width="32" height="32">
        <div class="media-body align-self-center">
          <p class="mb-0"><b>Jasper Lepardo</b></p>
        </div>
      </li>
      <li class="media" style="padding: 0.75rem;">
        <img class="rounded-circle mr-3" src="/assets/img/avatar.png" alt="" width="32" height="32">
        <div class="media-body align-self-center">
          <p class="mb-0"><b>Jasper Lepardo</b></p>
        </div>
      </li>
    </ul>


  </div>
</div>

{% include components/organisms/popover/appointment-details.html %}
{% include components/organisms/modals/new-appointment.html %}
