

body {
  font-size: 14px;
}

@media (min-width: 992px) {
  .modal {
    margin-left: 256px;
  }
}

.navbar {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-bottom: 1px solid #d8d8d8;
}

.subheader {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #006fe6;
  color: #FAFAFA;
  font-size: 16px;
  font-weight: 500;
}