body {
  background-color: #f1f2f3;
}

.heading {
  padding-top: 40px;
  padding-bottom: 24px;
}

.heading-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #007bfe;
}

.heading-subtitle {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 16px;
  color: #727272;
}

.heading-subtitle:empty {
  display: none;
}

.heading-details {
  list-style: none;
  padding-left: 0;
  margin-left: -8px;
}

.heading-details > li {
  padding: 8px;
  float: left;
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 16px;
  color: #727272;
}



.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video-toggler {
  flex-direction: column;
  background-color: #f1f2f3;
}

#video-toggler .nav-link {
  border-bottom: 0;
  border-left: 4px solid transparent;
  padding: 1rem;
}

#video-toggler .nav-link.active {
  border-color: #fe8300;
}

#video-toggler .far {
  font-size: 24px;
}

@media (min-width: 992px) {
  #video-toggler {
    flex-direction: row;
  }

  #video-toggler .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }

  #video-toggler .nav-link {
    border-bottom: 4px solid transparent;
    border-left: 0;
    padding-bottom: calc(1rem - 4px);
  }
}

.login-form {
  background-color: #ffffff;
  margin: 0 auto;
  width: 560px;
  max-width: 100%;
}

.login-form .form-group {
  /* margin-bottom: 8px; */
}




.login-form .button-group {
  margin-top: 40px;
}

.form-helper {
  font-size: 12px;
}

.form-text {
  font-size: 12px;
}

.form-group label {
  text-align: right;
  /* padding-right: 0; */
}

.table thead th {
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 12px;
  color: #727272;
  font-weight: 500;
  background-color: #f0f2f4;
  border-top: 0;
  border-bottom: 0;
}

.table-lg td {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.table-sm td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}


.modal-responsive .modal-dialog {
  margin: 0;
}

@media (min-width: 992px) {
  .modal-responsive .modal-dialog {
    margin: 1.75rem auto;
  }
}

.modal-responsive .modal-content {
  height: 100vh;
  /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

.modal-responsive .modal-body {
  overflow: hidden;
  overflow-y: auto;
}

.modal-responsive .modal-header, .modal-responsive .modal-footer {
  flex: 0 0 auto;
}

@media (min-width: 992px) {
  .modal-responsive .modal-content {
    height: unset;
  }
}








.media-pills {
  background-color: #f1f2f3;
  border-radius: 9999px;
  border: 2px solid transparent;
  padding: 4px;
  font-weight: 500;
  font-size: 16px;
}

.media-pills.active {
  border-color: #007bfe;
}

.media-pills .media-left, .media-pills .media-body {
  padding-right: 16px;
}


.popover-header {
  padding: 24px;
  background-color: #003e80;
  color: #f1f2f3;
}

.popover-header .popover-header-title {
  color: #fafafa;
  margin: 0;
}

.popover-header .popover-header-divider {
  border-color: #728caa;
}

.popover-header .popover-header-subtitle {
  color: #f1f2f3;
  font-size: 16px;
  margin: 0;
  margin-top: 4px;
}

.popover-header .popover-header-details {
  color: #f1f2f3;
}

.popover-body {
  padding: 16px 24px;
}

.popover-body .heading {
  margin-top: 0;
  margin-bottom: 12px;
}

.popover-body .heading-status {
  margin-bottom: 4px;
}

.popover-body .heading .heading-title {
  margin-top: 0;
  margin-bottom: 0;
}

.popover-body .heading .heading-subtitle {
  margin-top: 0;
  font-size: 14px;
}

.popover-body .list:last-child {
  margin-bottom: 0;
}

.popover-footer {
  padding: 16px 24px;
  background-color: #fafafa;
  border-top: 1px solid #d8d8d8;
}

.selectize-control {
  display: flex;
}

.input-group-btn .btn-default {
  border: 1px solid #bebebe;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-right: -2px !important;
}

.panel-title {
  line-height: 24px;
}









#appointments-section .card-body {
  max-height: calc(100vh - 182px);
}





.card-header, .card-footer {
  padding: 1.5rem;
}

.card-header {
  padding-bottom: 0.75rem;
  background-color: transparent;
}


.card-header-title {
  margin: 0;
}

.card-header-subtitle {
  margin-top: 8px;
  margin-bottom: 0;
  color: #727272;
}

.card-body {
  padding: 1.5rem;
}




.cardnavbar {
background-color: #f8f9fa;
/* margin-bottom: 24px; */
/* margin-left: -24px; */
/* margin-right: -24px; */
}

.cardnavbar .nav-tabs {
/* border-bottom: 0; */
/* margin-left: -16px; */
}

.cardnavbar .nav li a {
padding: 24px;
padding-top: 16px;
padding-bottom: 12px;
text-transform: uppercase;
}



.list-group-lg .list-group-item {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.list-group-sm .list-group-item {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}



.list-group-item .form-group {
  margin-bottom: 0;
}

.list-group-item .form-control {
  max-width: 320px;
}

.list-group-item .form-row {
  max-width: 328px;
}
.list-group-item .form-label {
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  color: #727272;
  text-transform: uppercase;
  line-height: 20px;
}

.list-group-item .form-control-plaintext {
  line-height: unset;
  border: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 16px;
  font-weight: 400;
}

.list-group-item .form-control + .form-control {
  margin-top: 8px;

}

.list-group-custom .list-group-item {
padding-left: 24px;
}


.list-group-custom .list-group-item {
  border: 0;
  border-radius: 4px;
  margin-bottom: 0;
}

.list-group-custom .list-group-item:hover {
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.15) !important;
  transition: all .250s;
  z-index: 1;
}

.list-group-custom .list-group-item + .list-group-item {
  margin-top: 4px;
}


.list-group-custom {
position: relative;
}

.list-group-custom .list-group-item::before {
content: "";
position: absolute;
width: 4px;
background-color: #ff8300;
bottom: 4px;
top: 4px;
left: 4px;
border-radius: 9999px;
}


.list-group-item:first-child {
  /* border-top: 0; */
}

.list-group-item:last-child {
  border-bottom: 0;
}



a.list-group-item {
  color: inherit;
}

a.list-group-item:hover {
  text-decoration: none;
}


.list-inline-divider {
  display: inline;
  padding-left: 0;
}

.list-inline-divider::before {
  content: "\2022";
  width: 24px;
  display: inline-block;
  text-align: center;
}




.list-group-custom-divider {
  /* padding: 8px 16px; */
  /* background-color: #f1f2f3; */
  /* border-radius: 8px; */
  /* font-size: 12px; */
  /* font-weight: 500; */
  padding: 4px;
  /* text-transform: uppercase; */
  color: #727272;
  margin-top: 4px;
  margin-bottom: 4px;
  position: relative;
  line-height: 20px;
}






.list-group-flush .list-group-item {
  margin-left: 1.5rem;
  padding-left: 0;
  width: unset;
}

.list-group-flush .list-group-item-action:hover {
  margin-left: 0;
  padding-left: 1.5rem;
}




.list-group-editable .list-group-item {
  padding-right: 80px;
}

.list-group-item-btn {
  display: none;
}

.list-group-item-action:hover .list-group-item-btn {
  display: block;
  position: absolute;
  top: calc(50% - 12px);
  right: 1rem;
}



.btn-edit,
.btn-close,
.btn-check {
  /* position: absolute; */
  /* display: none; */
  padding: 0;
  border: 0;
  right: 1rem;
  width: 24px;
  line-height: 24px;
  text-align: center;
  top: calc(50% - 12px);
  color: #bebebe;
}

.btn-close,
.btn-check {
  display: none;
}

.list-group-item-edit-mode {
  display: none;
}

.list-wrapper {
/* position: absolute; */
}

.list-search {
padding: 0.75rem 1.5rem;
background-color: #f8f9fa;
border-bottom: 1px solid #d8d8d8;
}

.list-wrapper .list-group {
/* max-height: calc(100vh - 134px);
overflow: hidden;
overflow-y: auto; */
}



.table-scroller {
  max-height: calc(100vh - 108px);
  overflow: auto;
  position: relative;
}








.table-scroller table {
position: relative;
border-collapse: collapse;
margin-bottom: 0;

}

.table-scroller table th {
position: -webkit-sticky; /* for Safari */
position: sticky;
top: 0;
min-width: 320px;
}

.table-scroller table.weekly th,
.table-scroller table.weekly td {
  min-width: 176px;
}

.table-scroller table th:first-child,
.table-scroller table td:first-child {
left: 0;
z-index: 2;
/* min-width: 88px; */
/* text-align: right; */
/* border-right: 0; */
}

.table-scroller table tbody td {
  /* border-right: 1px solid #e4e4e4; */
}

.table-scroller table tbody td:first-child {
position: -webkit-sticky; /* for Safari */
position: sticky;
z-index: 1;
left: 0;
/* text-align: right; */
/* border-top: 0; */
/* background-color: #eeeef4; */
/* border-right: 0; */
}

.table-scroller table tbody tr:first-child td {
  border-top: 0;
}



.form-icon {
  position: relative;
  width: 100%
}

.form-icon .form-control {
  padding-left: 40px
}

.form-control-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  line-height: 38px;
  text-align: center
}

.form-icon-lg .form-control-icon {
  line-height: 44px;
}







.calendar {
  border-collapse: separate;
  border-spacing: .5rem;
  margin: 0 auto;
}

.calendar th {
  min-width: 44px;
  padding: 0.5rem;
  background-color: transparent;
}

.calendar-item {
  padding: 8px;
  width: 80px;
  height: 56px;
  border-radius: 4px;
  vertical-align: middle;
  font-size: 16px;
  background-color: #EAEDF4;
  text-align: center;
  border: 0;
  position: relative;
}

.calendar-item:not(.calendar-item-current) {
  background-color: #F1F2F7;
  color: #d8d8d8;
}

.calendar td.active {
  border-color: #fe8300;
  background-color: #fe8300;
  color: #fff;
  font-weight: 500;
}

.calendar td.active a {
  color: #fff;
}

.has-availability {
  border: 2px solid #DFE1EA;
  background-color: transparent;
}

.has-availability:hover,
.has-availability[aria-expanded="true"] {
  border-color: #007bfe;
}

.has-availability[aria-expanded="true"] {
  background-color: #fff;
}


.has-availability[aria-expanded="true"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.has-availability[aria-expanded="true"]::after {
  content: '';
  display: block;
  width: 100%;
  height: 12px;
  position: absolute;
  bottom: -12px;
  background-color: white;
  z-index: 1;
  left: -2px;
  border-left: 2px solid #007bfe;
  border-right: 2px solid #007bfe;
  width: 80px;
}


.calendar-schedule .calendar-item {
  border: 2px solid #007bfe;
  padding: 8px;
  text-align: left;
  background-color: transparent;
  font-size: inherit;

  background-color: #fff;

}



.time-stamp {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  position: absolute;
  bottom: 0;
  left: calc(50% - 15.89px);
}







.morning,
.afternoon,
.evening {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: transparent;
}

.morning {
  background-color: blue;
}

.afternoon {
  background-color: orange;
}

.evening {
  background-color: violet;
}
























.slider-overlay {
  position: fixed;
  z-index: 1030;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, .75);
}










.table-fixed-header {
  width: 100%;
}

.table-fixed-header thead,
.table-fixed-header tbody,
.table-fixed-header tr,
.table-fixed-header td,
.table-fixed-header th { display: block; }

.table-fixed-header tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

.table-fixed-header thead th {
  /* height: 30px; */

  /*text-align: left;*/
}

.table-fixed-header tbody {
  height: calc(100vh - 158px);
  overflow-y: auto;
}

.table-fixed-header thead {
  /* fallback */
}


.table-fixed-header tbody td,
.table-fixed-header thead th {
  /* width: 19.2%; */
  float: left;
}



.form-group label {
  font-weight: 500;
}










.btn-checkbox {
  padding: 16px;
  /* padding-left: 40px; */
  border: 2px solid #ddd;
  text-align: left;
  border-radius: 4px;
  background-color: #fff;
}

.btn-checkbox.active {
  border-color: #007bfe;
}


.btn-radio label {
  padding: 16px;
  padding-left: 40px;
  border: 2px solid #ddd;
  border-radius: 4px;
  display: block;
}

.btn {
  line-height: 20px;
  font-weight: 500;
}






.btn-checkbox-group .btn-checkbox {
  /* margin-bottom: .5rem; */
  margin-top: 0;
  font-weight: unset;
  box-shadow: none;
}

.btn-checkbox + .btn-checkbox {
  margin-top: .5rem;
}


/* 

@media (min-width: 576px) {
  .btn-checkbox-group {
      -webkit-column-count:2;
      -moz-column-count: 2;
      column-count: 2;
      -webkit-column-gap: .5rem;
      -moz-column-gap: .5rem;
      column-gap: .5rem;
      orphans: 1;
      widows: 1
  }

  .btn-checkbox-group .btn-checkbox {
      display: inline-block;
      width: 100%
  }
} */

.btn-checkbox .form-check-input {
  display: none;
}


.btn-link-dark,
.btn-link-dark:hover {
  color: #727272;
}

.btn-link-custom {
  font-size: 12px;
  text-transform: uppercase;
}













.header {
  margin-top: 40px;
  margin-bottom: 24px;
}

.header-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #00254d;
}

.header-subtitle {
  margin-top: 8px;
  margin-bottom: 0;
  /* font-size: 16px; */
  color: #727272;
}






























.accordion {
  margin-bottom: 80px;
}
.accordion .card {
  border-bottom: 1px solid #d8d8d8;
  box-shadow: none;
}

.accordion .card:last-child {
  border-bottom: 0;
}

.accordion .card-header {
  background-color: transparent;
  border-bottom: 0;
  font-size: 1rem;
  padding-left: 60px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.accordion .card-header a::before {
  font-family: 'Font Awesome 5 Free';
  /* font-size: 16px; */
  position: absolute;
  left: -40px;
  width: 24px;
  /* line-height: 28px; */
  text-align: center;
  /* color: #007bfe; */
}

.accordion .card-header a[aria-expanded="true"]::before {
  content: '\f146';
}

.accordion .card-header a[aria-expanded="false"]::before {
  content: '\f0fe';
}

.accordion .card-header a {
  color: inherit;
  position: relative;
  line-height: 26px;
}

.accordion .card-body {
  padding-left: 60px;
}


.nav-wizard-link::before {
  content: '';
}