body {
    background-color: #eef0f3;
    padding-top: 64px;
}





.heading {
    margin-top: 40px;
    margin-bottom: 24px;
  }
  
  @media (min-width: 1200px) {
    .heading {
      /* margin-top: 48px; */
   }
  }
  
  @media (min-width: 1600px) {
    .heading {
      /* margin-top: 54px; */
    }
  }
  
  .heading-title {
    margin-top: 0;
    margin-bottom: 0;
    color: #007bfe;
  }
  
  .heading-subtitle {
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 16px;
    color: #727272;
  }
  
  .heading-subtitle:empty {
    display: none;
  }
  
  .heading-details {
    list-style: none;
    padding-left: 0;
    margin-left: -8px;
  }
  
  .heading-details > li {
    padding: 8px;
    float: left;
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 16px;
    color: #727272;
  }
  
  




















.navbar-default {
    background-color: #FFFFFF;
    border: 0;
    box-shadow: 0 1px 2px 0px rgba(0,0,0,0.25)
}



#left-panel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 8px;
    padding-top: 68px;
    width: 240px;
    background-color: #202a34;
}

#main-panel {
    margin-left: 240px;
}


#main-panel .container-fluid {
    padding-left: 24px;
    padding-right: 24px;
}

.dashed {
    margin-top: 24px;
    margin-bottom: 24px;
    border: 0;
    border-top: 1px dashed #E4E4E4;
}


.btn-wide {
    padding-left: 40px;
    padding-right: 40px;
}




.btn-checkbox {
    padding: 16px;
    padding-left: 40px;
    border: 2px solid #ddd;
    text-align: left;
    border-radius: 4px;
    background-color: #FFF;
}

.btn-checkbox.active {
    border-color: #007bfe;
}












.wrapper{
    text-align:center;
    margin:50px auto;
  }
  
.tabs{
    /* font-size:15px; */
    /* padding:0px; */
    /* list-style:none; */
    /* background:#fff; */
    /* box-shadow:0px 5px 20px rgba(0,0,0,0.1); */
    /* display:inline-block; */
    /* border-radius:50px; */
    position:relative;
}

.tabs li {
    margin-right: 24px;
}

.tabs li a{
    text-decoration:none;
    color: #777;
    text-transform:uppercase;
    padding:8px 0;
    display:inline-block;
    position:relative;
    z-index:1;
    transition-duration:0.6s;
}


.tabs li.active a {
    color:#0076FF !important;
    background-color: transparent !important;
}


.tabs .selector{
    height:4px;
    display:inline-block;
    position:absolute;
    left:0px;
    bottom:0px;
    z-index:1;
    /* border-radius:50px; */
    transition-duration:0.35s;
    /* transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); */
    background: #0076FF;
}



.btn-radio label {
    padding: 16px;
    padding-left: 40px;
    border: 2px solid #ddd;
    border-radius: 4px;
    display: block;
}

#new-appointment .modal-header,
#new-appointment .modal-body,
#new-appointment-test .modal-header,
#new-appointment-test .modal-body,
#edit-appointment .modal-header,
#edit-appointment .modal-body,
#edit-appointment-test .modal-header,
#edit-appointment-test .modal-body {
    padding: 40px;
}

#new-appointment .modal-header,
#new-appointment-test .modal-header,
#edit-appointment .modal-header,
#edit-appointment-test .modal-header {
    border: 0;
    background-color: #007bfe;
    padding-bottom: 0;
}

#new-appointment .modal-title,
#new-appointment-test .modal-title,
#edit-appointment .modal-title,
#edit-appointment-test .modal-title {
    color: #fff;
}

#new-appointment .nav,
#new-appointment-test .nav,
#edit-appointment .nav,
#edit-appointment-test .nav {
    margin-top: 16px;
    border: 0;
    margin-left: -8px;
}

#new-appointment .nav-tabs li,
#new-appointment-test .nav-tabs li,
#edit-appointment .nav-tabs li,
#edit-appointment-test .nav-tabs li {
    margin-bottom: 0;
}

#new-appointment .nav-tabs li + li,
#new-appointment-test .nav-tabs li + li,
#edit-appointment .nav-tabs li + li,
#edit-appointment-test .nav-tabs li + li {
    margin-left: 24px;
}

#new-appointment .nav-tabs li.active a,
#new-appointment-test .nav-tabs li.active a,
#edit-appointment .nav-tabs li.active a,
#edit-appointment-test .nav-tabs li.active a {
    border-bottom: 4px solid #FF8900;
    font-weight: 500;
}

#new-appointment .nav-tabs li a,
#new-appointment-test .nav-tabs li a,
#edit-appointment .nav-tabs li a,
#edit-appointment-test .nav-tabs li a {
    color: #FFF;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
    color: #FAFAFA;
}


.media-pills {
    background-color: #F1f2f3;
    border-radius: 9999px;
    border: 2px solid transparent;
    padding: 4px;
    font-weight: 500;
    font-size: 16px;
}

.media-pills.active {
    border-color: #007bfe;
}

.media-pills .media-left,
.media-pills .media-body {
    padding-right: 16px;
}


















.form-year-control {
    margin-right: 0;
}









#left-panel .nav li a .fas,
#left-panel .nav li a .far {
    line-height: 24px;
    width: 24px;
    text-align: center;
    margin-right: 16px;
}





.popover {
    width: 320px;
}

.popover-content {
    padding: 0;
}

.popover-header {
    padding: 24px;
    background-color: #4e6681;
    color: #FFFFFF;
}

.popover-header .popover-header-title {
    color: #FFF;
    margin: 0;
}

.popover-footer {
    padding: 16px 24px;
    background-color: #F1f2f3;
}


.popover-content .table {
    margin-bottom: 0;
}



























.selectize-control {
    display: flex;
}



.input-group-btn .btn-default {
    border: 1px solid #BEBEBE;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right: -2px !important;
}







.switch input { 
    display:none;
}
.switch {
    display:inline-block;
    width: 48px;
    height: 24px;
    /* margin:8px; */
    /* transform:translateY(50%); */
    position:relative;
    margin-bottom: 0;
    background-color: #FAFAFA;
    border-radius: 9999px;
}

.slider {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border-radius: 9999px;
    box-shadow:0 0 0 2px #BEBEBE, 0 0 4px #BEBEBE;
    cursor:pointer;
    border: 4px solid transparent;
    overflow:hidden;
    transition:.4s;
}
.slider:before {
    position:absolute;
    content:"";
    width:100%;
    height:100%;
    background:#BEBEBE;
    border-radius: 9999px;
    transform: translateX(-24px);
    transition:.4s;
}

input:checked + .slider:before {
    transform: translateX(24px);
    background:#FF8900;
}
input:checked + .slider {
    box-shadow:0 0 0 2px #BEBEBE,0 0 2px #BEBEBE;
}








.panel-title {
    line-height: 24px;
}