<ul class="nav nav-inverse nav-pills nav-stacked" id="side-menu">
  {% for parent-menu in layout.side-menu %}
    <li class="collapsible">
      <a data-toggle="collapse" data-parent="#side-menu" href="#{{ parent-menu.name }}-menu">
        <i class="ec-icon icon-{{ parent-menu.icon }}"></i>
        <span>{{ parent-menu.title }}</span>
      </a>
      <ul class="nav nav-inverse nav-pills nav-stacked sub-nav-pills collapse" id="{{ parent-menu.name }}-menu">
        {% for child-menu in parent-menu.sub-menu %}
          <li class="nav-header">{{ child-menu.title }}</li>
          {% for menu in child-menu.menuitems %}
            <li class="{% if page.url contains menu.url %} active {% endif %}">
              <a href="{{ site.baseurl }}{{ layout.base-url }}{{ layout.side-menu-index }}/{{ menu.url }}">
                <i class="ec-icon icon-{{ menu.icon }}"></i>
                <span>{{ menu.text }}</span>
              </a>
            </li>
          {% endfor %}
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>
