---
layout: settings
container-type: container
heading: true
heading-title: Settings
heading-navbar:
sub-heading: true
sub-heading-title: Add New Product
---

<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <div class="card">
      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane active show" id="service-settings-tab">
            {% include components/molecules/form-group/input.html 
              form-layout=""
              isInputLarge=""
              isInputRequired=""
              hasFormLabel=""
              form-label-class=""
              form-label-size=""
              form-label-text="Product Name"
              input-size="col-lg-6"
              input-type="text"
              input-name="product-name"
              input-value=""
              input-placeholder="Enter Product Name"
              hasFormIcon="none"
              form-icon-name=""
              form-icon-placement=""
              hasFormHelper="none"
              form-helper-text=""
            %}
            {% include components/molecules/form-group/input.html 
              form-layout=""
              isInputLarge=""
              isInputRequired=""
              hasFormLabel=""
              form-label-class=""
              form-label-size=""
              form-label-text="Price"
              input-size="col-lg-6"
              input-type="number"
              input-name="price"
              input-value=""
              input-placeholder="Enter Price"
              hasFormIcon="none"
              form-icon-name=""
              form-icon-placement=""
              hasFormHelper="none"
              form-helper-text=""
            %}
            {% include components/molecules/form-group/textarea.html 
              form-layout=""
              isInputLarge=""
              isInputRequired=""
              hasFormLabel=""
              form-label-class=""
              form-label-size=""
              form-label-text="Description"
              input-size=""
              input-type=""
              input-name="description"
              input-value=""
              input-placeholder="Enter Description"
              hasFormIcon="none"
              form-icon-name=""
              form-icon-placement=""
              hasFormHelper="none"
              form-helper-text=""
            %}
            <div class="form-group">
              <label class="form-switch form-switch-left">
                <input class="form-switch-input" type="checkbox" checked="">
                <span class="form-switch-slider"></span>
                <span class="form-switch-label form-switch-label-static">Track Inventory</span>
              </label>
            </div>
            {% include components/molecules/form-group/input.html 
              form-layout=""
              isInputLarge=""
              isInputRequired=""
              hasFormLabel=""
              form-label-class=""
              form-label-size=""
              form-label-text="Current Quantity"
              input-size="col-lg-6"
              input-type="number"
              input-name="price"
              input-value=""
              input-placeholder="Enter Current Quantity"
              hasFormIcon="none"
              form-icon-name=""
              form-icon-placement=""
              hasFormHelper="none"
              form-helper-text=""
            %}
          </div>
        </div>
      </div>
      <div class="card-footer d-flex align-items-start align-items-center justify-content-between">
        <a class="btn btn-link" href="">Delete this Product</a>
        <a class="btn btn-primary" href="">Save Changes</a>
      </div>
    </div>
  </div>
</div>