---
layout: app
container-type: container
heading-title: Invoices
subheader: true
subheader-title: 3858
---

<div class="row">
  <div class="col-lg-8 offset-2">
    <div class="card">
      <div class="cardnavbar m-0">
        {% include components/molecules/nav-tabs.html
          nav-type="nav-tabs"
          isLarge=""
          isStacked=""
          isJustified=""
          isResponsive="nav-tabs-responsive"
          list-value-name=site.data.navigation.invoice-settings
          hasIcon=""
        %}
      </div>
      <div class="card-body">



          <p class="lead">Invoice</p>
          <table class="table table-stripped">
            <thead>
              <tr>
                <th class="col-xs-3">Item</th>
                <th class="col-xs-2">Price</th>
                <th class="col-xs-2">Qty</th>
                <th class="col-xs-2">Tax</th>
                <th class="col-xs-2">Subtotal</th>
                <th class="col-xs-1"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <select class="form-control" name="" id="">
                    <option value="">Graphic Design</option>
                  </select>
                </td>
                <td><p class="form-control-static">200</p></td>
                <td>
                  <input class="form-control" type="number" value="1">
                </td>
                <td>
                  <select class="form-control" name="" id="">
                    <option value="">No Tax</option>
                  </select>
                </td>
                <td><p class="form-control-static">200</p></td>
                <td><a class="btn btn-danger btn-sm" href="">&times;</a></td>
              </tr>
              <tr>
                <td>
                  <select class="form-control" name="" id="">
                    <option value="">Graphic Design</option>
                  </select>
                </td>
                <td><p class="form-control-static">200</p></td>
                <td>
                  <input class="form-control" type="number" value="1">
                </td>
                <td>
                  <select class="form-control" name="" id="">
                    <option value="">No Tax</option>
                  </select>
                </td>
                <td><p class="form-control-static">200</p></td>
                <td><a class="btn btn-danger btn-sm" href="">&times;</a></td>
              </tr>
            </tbody>
          </table>
          <a class="btn btn-light" href="">Add New Item</a>
          <hr class="dashed">
          <div class="row">
            <div class="col-md-5 order-md-2">
              <div class="well">
                <p class="lead">Summary</p>
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Subtotal</td>
                      <td class="text-right">P 400</td>
                    </tr>
                    <tr>
                      <td>Tax</td>
                      <td class="text-right">P 0.00</td>
                    </tr>
                    <tr>
                      <td>Total</td>
                      <td class="text-right">P 400</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-7 order-md-1">
              <p class="lead">Payment Method</p>
              {% include components/atoms/form/select.html 
                label=""
                text="service"
                placeholder="Select Payment Method"
                list-value-name=site.data.list-value.payment-method
                form-label-size=""
                input-size=""
              %}
              <hr class="dashed">
              <a class="btn btn-light" href=""><i class="fas fa-file-download"></i> Download PDF</a>
              <a class="btn btn-light" href=""><i class="fas fa-print"></i> Print Invoice</a>
            </div>
          </div>  
      </div>
    </div>
  </div>
</div>
