---
layout: app
container-type: container
heading: true
heading-title: Settings
heading-navbar:
sub-heading: true
sub-heading-title: Debit and Credit Card
---

<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <div class="card">
      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane active show" id="service-settings-tab">
            {% include components/molecules/form-group/input.html 
              form-layout=""
              isInputLarge=""
              isInputRequired=""
              hasFormLabel=""
              form-label-class=""
              form-label-size=""
              form-label-text="Payment Name"
              input-size="col-lg-6"
              input-type="text"
              input-name="payment-name"
              input-value=""
              input-placeholder="Enter Payment Name"
              hasFormIcon="none"
              form-icon-name=""
              form-icon-placement=""
              hasFormHelper="none"
              form-helper-text=""
            %}
            {% include components/molecules/form-group/textarea.html 
              form-layout=""
              isInputLarge=""
              isInputRequired=""
              hasFormLabel=""
              form-label-class=""
              form-label-size=""
              form-label-text="Description"
              input-size=""
              input-type=""
              input-name="description"
              input-value=""
              input-placeholder="Enter Description"
              hasFormIcon="none"
              form-icon-name=""
              form-icon-placement=""
              hasFormHelper="none"
              form-helper-text=""
            %}
          </div>
        </div>
      </div>
      <div class="card-footer d-flex align-items-start align-items-center justify-content-between">
        <a class="btn btn-link" href="">Delete this Payment Method</a>
        <a class="btn btn-primary" href="">Save Changes</a>
      </div>
    </div>
  </div>
</div>