---
layout: app
container-type: container
heading: true
heading-title: Employees
heading-button: <a class="btn btn-warning" href="add-new-employee.html">Add New Employees</a>
heading-search: 
heading-search-name: search-employee
heading-search-placeholder: Search Employees
sub-heading: true
sub-heading-title: Add New Employee
---

<div class="row">
  <div class="col-8 offset-2">
    <div class="card mb-4">
      <div class="card-body">
        <h6 class="card-title h5">Personal Info</h6>

        {% include components/organisms/forms/full-name.html 
          form-layout="horizontal"
          isInputLarge=""
          isInputRequired=""
          hasFormLabel=""
          form-label-class="form-label"
          form-label-size="col-lg-3"
          form-label-text="Full Name"
          input-size="col-lg-6"
          hasFormHelper="none"
          form-helper-text=""
        %}

        {% include components/organisms/forms/birthday-select.html 
          form-layout="horizontal"
          isInputLarge=""
          isInputRequired=""
          hasFormLabel=""
          form-label-class="form-label"
          form-label-size="col-md-3"
          form-label-text="Birthday (Optional)"
          input-size="col-lg-6"
          input-type=""
          input-name="birthday"
          input-value=""
          input-placeholder="Enter Email Address"
          hasFormIcon="none"
          form-icon-name=""
          form-icon-placement=""
          hasFormHelper="none"
          form-helper-text=""
        %}

        {% include components/molecules/form-group/textarea.html 
          form-layout="horizontal"
          isInputLarge=""
          isInputRequired=""
          hasFormLabel=""
          form-label-class="form-label"
          form-label-size="col-lg-3"
          form-label-text="Notes"
          input-size="col-lg-6"
          input-type=""
          input-name="notes"
          input-value=""
          input-placeholder="Enter Notes"
          hasFormIcon="none"
          form-icon-name=""
          form-icon-placement=""
          hasFormHelper="none"
          form-helper-text=""
        %}
        <div class="form-group row">
          <label class="form-label col-lg-3" for="">Profile Photo</label>
          <div class="col-lg-6">
            <div class="media">
              <div class="mr-3">
                <img class="rounded-circle" src="{{ site.baseurl }}/assets/img/default-avatar.png" alt="" width="48" height="48">
              </div>
              <div class="media-body align-self-center">
                <div><b>Set your profile photo</b><br><a href="">Upload photo</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-body">

        <h6 class="card-title h5">Contact Info</h6>

        <div class="form-group row">
          <label class="form-label col-lg-3" for="">Phone</label>
          <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-light" type="button">+63 <b class="caret"></b></button>
              </span>
              <input class="form-control" type="text" placeholder="0912 345 6789">
            </div>
          </div>
        </div>

        {% include components/molecules/form-group/input.html 
          form-layout="horizontal"
          isInputLarge=""
          isInputRequired=""
          hasFormLabel=""
          form-label-class="form-label"
          form-label-size="col-lg-3"
          form-label-text="Email"
          input-size="col-lg-6"
          input-type="email"
          input-name="email"
          input-value=""
          input-placeholder="name@company.com"
          hasFormIcon="none"
          form-icon-name=""
          form-icon-placement=""
          hasFormHelper="none"
          form-helper-text=""
        %}
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-body">
        <div class="d-flex">
          <a class="btn btn-outline-dark mx-auto" href="#custom-form" data-toggle="collapse">Add Custom Form</a>
        </div>
      </div>
    </div>

    <!-- <hr class="dashed" /> -->
    <div class="d-flex align-items-start align-items-center justify-content-between">
      <a class="btn btn-link btn-lg" href="">Cancel</a>
      <a class="btn btn-primary btn-lg" href="">Save Employee Profile</a>
    </div>
  </div>
</div>
