---
layout: app
container-type: 
heading-title: Employees
---

<div class="list-wrapper">
  <div class="list-search">
    <div class="form-icon form-icon-lg">
      {% include components/atoms/form/input.html 
        isInputLarge="form-control-lg"
        isInputRequired=""
        input-name="search-employee"
        input-type="search"
        input-value=""
        input-placeholder="Search Employee"
      %}
      <span class="form-control-icon"><i class="fas fa-search"></i></span>
    </div>
  </div>
  <div class="list-group list-group-flush">
    {% for employee in site.employees %}
      <a href="{{ site.baseurl }}/app/employees/{{ employee.slug }}" class="list-group-item list-group-item-action {{ employee.status }}">
        <div class="media">
          <div class="d-inline-flex mr-3">
            <img class="rounded-circle" src="https://ui-avatars.com/api/?name={{ employee.fname }}+{{ employee.lname }}&?background={{ employee.background-color }}&color=fff" alt="" width="48" height="48">
          </div>
          <div class="media-body align-self-center">
            <p class="text-lg mb-0"><b>{{ employee.full-name }}</b></p>
            <p class="mb-0">{{ employee.position }}</p>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
  <a class="btn btn-warning btn-fab" href=""><i class="fas fa-plus"></i></a>
</div>
