---
layout: base

side-menu:
- text: Dashboard
  icon: fas fa-tachometer-alt
  url: app/dashboard.html
- text: Calendar
  icon: far fa-calendar
  url: app/appointment.html
- text: Online Booking
  icon: fas fa-address-book
  url:
- text: Invoicing
  icon: fas fa-shopping-cart
  url:
- text: Customers
  icon: fas fa-users
  url: app/customers/
- text: Conversations
  icon: fas fa-comments
  url:
- text: Settings
  icon: fas fa-cogs
  url:

layout-styles: app
---



<header class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-2" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">
        <img class="" src="{{ site.baseurl }}/assets/img/LOGO_PhollowUp-New.png" alt="" width="" height="32">
      </a>
    </div>
    <nav class="collapse navbar-collapse" id="navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="media" data-toggle="dropdown" href="">
            <div class="media-left">
              <img class="media-object img-circle" src="/assets/img/avatar.png" width="32" height="32" alt="">
            </div>
            <div class="media-body media-middle" style="width: unset;">
              Jasper Lepardo
            </div>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Link #1</a></li>
            <li><a href="#">Link #2</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div id="left-panel">
  {% include components/nav-pills-stacked.html %}
</div>

<div id="main-panel">
  <main class="container-fluid">



<div class="heading">
  <div class="row">
    <div class="col-md-8">
      <h1 class="heading-title h3">{{ page.heading-title }}</h1>
    </div>
    <div class="col-md-4 text-right">{{ page.heading-button }}</div>
  </div>
  <p class="heading-subtitle">{{ page.heading-subtitle }}</p>
</div>


{{ content }}

  </main>
</div>

<div id="right-panel">
</div>



















