---
layout: base
layout-styles: app
---

<div class="navbar navbar-expand-lg navbar-dark fixed-top" id="left-panel">
  <a class="navbar-brand" href="{{ site.baseurl }}/app/dashboard.html">
    <img class="" src="{{ site.baseurl }}/assets/img/LOGO_PhollowUp-New.png" alt="" width="" height="32">
  </a>
  <button class="navbar-toggler" id="mobile-slider" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="global-slider">
    <div class="navbar-wrapper">
      {% include components/molecules/nav-menu.html
        nav-type="navbar-nav"
        isLarge=""
        isStacked="flex-column"
        isJustified=""
        list-value-name=site.data.navigation.global
        hasIcon="false"
      %}
      <ul class="navbar-nav flex-column mt-auto">
        <li class="nav-item">
          <a class="btn btn-outline-primary btn-lg btn-block" href="{{ site.baseurl }}/app/tablet-mode.html">Switch to Tablet Mode</a>
        </li>
        <li class="nav-item dropup">
          <a class="nav-link" data-toggle="dropdown" href="" aria-expanded="false">
            <div class="media">
              <div class="mr-3">
                <img class="rounded-circle" src="/assets/img/avatar.png" width="32" height="32" alt="">
              </div>
              <div class="media-body align-self-center">
                Jasper Lepardo
              </div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#"><i class="fas fa-sync-alt mr-2"></i>Refresh Page</a>
            <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt mr-2"></i>Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="slider-overlay"></div>
</div>

<div id="main-panel">
  {% if page.heading %}
    <div class="heading fixed-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col order-1 col-lg-3 order-lg-1">
            <h1 class="heading-title h3">{{ layout.heading-title }}{{ page.heading-title }}</h1>
          </div>
          <div class="col order-2 col-lg-3 order-lg-3 text-right">
            {{ page.heading-button }}
          </div>
          <div class="col-12 order-3 col-lg-6 order-lg-2">
            {% if page.heading-search %}
              <div class="heading-search">
                <div class="form-icon form-icon-lg">
                  {% include components/atoms/form/input.html 
                    isInputLarge="form-control-lg"
                    isInputRequired=""
                    input-name="heading-search-name"
                    input-type="search"
                    input-value=""
                    input-placeholder=page.heading-search-placeholder
                  %}
                  <span class="form-control-icon"><i class="fas fa-search"></i></span>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
        {% if page.heading-navbar %}
          <nav class="heading-navbar">
            {% include components/molecules/nav-menu.html
              nav-type="nav-tabs"
              isLarge=""
              isStacked=""
              isJustified=""
              isResponsive="nav-tabs-responsive"
              list-value-name=site.data.navigation.settings
              hasIcon=""
            %}
          </nav>
        {% endif %}
      </div>
      {% if page.sub-heading %}
        <div class="sub-heading">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6 offset-lg-3">
                <div class="sub-heading-wrapper">
                  <button class="sub-heading-btn js-go-back" type="button" onclick="history.back(-1)"> <i class="fas fa-arrow-left"></i></button>
                  <h1 class="sub-heading-title h3">{{ page.sub-heading-title }}</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  {% endif %}
  {% if layout.page-layout == "empty" %}
    {{ content }}
    {% else %}
    <main class="{{ page.container-type }}" id="main-content">
      {{ content }}
    </main>
  {% endif %}
</div>

{% include components/organisms/popover/appointment-details.html %}
{% include components/organisms/modals/new-appointment.html %}

{% include components/organisms/modals/add-new-customer.html %}
{% include components/organisms/modals/edit-customer-profile.html %}

{% include components/organisms/modals/add-new-employee.html %}
{% include components/organisms/modals/edit-employee-profile.html %}

{% include components/organisms/modals/add-new-branch.html %}