<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#007BFE" />
    <meta name="msapplication-TileImage" content="{{ site.baseurl }}/assets/img/favicons/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="{{ site.baseurl }}/assets/img/favicons/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="{{ site.baseurl }}/assets/img/favicons/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="{{ site.baseurl }}/assets/img/favicons/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="{{ site.baseurl }}/assets/img/favicons/mstile-310x310.png" />

    <title>PhollowUp</title>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site.baseurl }}/assets/img/favicons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ site.baseurl }}/assets/img/favicons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/assets/img/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.baseurl }}/assets/img/favicons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/assets/img/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.baseurl }}/assets/img/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/img/favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.baseurl }}/assets/img/favicons/apple-touch-icon-152x152.png" />

    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicons/favicon-128.png" sizes="128x128" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicons/favicon-196x196.png" sizes="196x196" />

    <!-- Lato - Google  Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- Base stylesheet -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/phollowup.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/global.css">
    <!-- Layout Specific CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ layout.layout-styles }}.css">

    <!-- Plugins -->

    <!-- Bootstrap DateTimePicker -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/bootstrap-datetime-picker/css/daterangepicker.css">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/selectize/css/selectize.css">
  </head>
  <body>

    {{ content }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <script src="/assets/js/functions.js"></script>

    <!-- Plugins -->
    <script src="/assets/plugins/bootstrap-datetime-picker/js/daterangepicker.js"></script>

    <script>
      $(function() {
        $("#new-appointment-datetimepicker, #reschedule-appointment-datetimepicker").daterangepicker({
          "singleDatePicker": true,
          "showDropdowns": true,
          "alwaysShowCalendars": true,
          "timePicker": true,
          "timePickerIncrement": 15,
          "linkedCalendars": false,
          "showCustomRangeLabel": false,
          "parentEl": "datepicker",
          "opens": "left",
          "drops": "down",
          "locale": {
            format: 'MMM DD, YYYY - hh:mm A'
          }
        });
      });
    </script>

    <script src="{{ site.baseurl }}/assets/plugins/selectize/js/standalone/selectize.js"></script>


    <script>
      $('#new-appointment-customer, #edit-appointment-customer').selectize({
        create: true,
        createOneBlur: true,
        addPrecedence: true,
        // render: {
        //   option_create: function (data, escape) {
        //     return '<div class="create">Add <strong>' + escape(data.input) + '</strong> as a customer</div>';
        //   }
        // },
      });
    </script>
  </body>
</html>