---
layout: app
page-layout: empty
container-type: container
heading: true
heading-title:
heading-navbar:
sub-heading: true
sub-heading-title: Vermont Branch
---

<div class="heading fixed-top">
  <div class="sub-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="sub-heading-wrapper">
            <button class="sub-heading-btn js-go-back" type="button" onclick="history.back(-1)"> <i class="fas fa-arrow-left"></i></button>
            <h1 class="sub-heading-title h3">{{ page.name }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<main class="container" id="main-content">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card card-bordered card-rounded mb-4">
        <div class="card-header">
          <h6 class="card-header-title h4">Branch Details</h6>
        </div>
        <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action" href="">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col-lg-4" style="line-height: 24px;">
                    <p class="text-sm text-muted text-uppercase mb-0">Legal Business Name</p>
                  </div>
                  <div class="col-lg">
                    <p class="text-lg mb-0"><b>JSPR Design Studio Inc.</b></p>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-chevron-right" style="width: 24px; height: 24px; text-align: center; line-height: 24px; "></i>
              </div>
            </div>
          </a>
          <a class="list-group-item list-group-item-action" href="">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col-lg-4" style="line-height: 24px;">
                    <p class="text-sm text-muted text-uppercase mb-0">Branch Name</p>
                  </div>
                  <div class="col-lg">
                    <p class="text-lg mb-0"><b>Vermont Branch</b></p>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-chevron-right" style="width: 24px; height: 24px; text-align: center; line-height: 24px; "></i>
              </div>
            </div>
          </a>
          <a class="list-group-item list-group-item-action" href="">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col-lg-4" style="line-height: 24px;">
                    <p class="text-sm text-muted text-uppercase mb-0">Login URL</p>
                  </div>
                  <div class="col-lg">
                    <p class="text-lg mb-0"><b>jspr-vermont.phollowup.com</b></p>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-chevron-right" style="width: 24px; height: 24px; text-align: center; line-height: 24px; "></i>
              </div>
            </div>
          </a>
          <a class="list-group-item list-group-item-action" href="">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col-lg-4" style="line-height: 24px;">
                    <p class="text-sm text-muted text-uppercase mb-0">Timezone</p>
                  </div>
                  <div class="col-lg">
                    <p class="text-lg mb-0"><b>GMT+8</b></p>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-chevron-right" style="width: 24px; height: 24px; text-align: center; line-height: 24px; "></i>
              </div>
            </div>
          </a>
          <a class="list-group-item list-group-item-action" href="">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col-lg-4" style="line-height: 24px;">
                    <p class="text-sm text-muted text-uppercase mb-0">Currency</p>
                  </div>
                  <div class="col-lg">
                    <p class="text-lg mb-0"><b>Philippine Peso (Php)</b></p>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-chevron-right" style="width: 24px; height: 24px; text-align: center; line-height: 24px; "></i>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="card card-bordered card-rounded mb-4">
        <div class="card-header">
          <h6 class="card-header-title h4">Contact Details</h6>
        </div>
        <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action" href="">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col-lg-4" style="line-height: 24px;">
                    <p class="text-sm text-muted text-uppercase mb-0">Phone</p>
                  </div>
                  <div class="col-lg">
                    <p class="text-lg mb-0"><b>0917 116 1268</b></p>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-chevron-right" style="width: 24px; height: 24px; text-align: center; line-height: 24px; "></i>
              </div>
            </div>
          </a>
          <a class="list-group-item list-group-item-action" href="">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col-lg-4" style="line-height: 24px;">
                    <p class="text-sm text-muted text-uppercase mb-0">Email</p>
                  </div>
                  <div class="col-lg">
                    <p class="text-lg mb-0"><b>jsprlprd@gmail.com</b></p>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-chevron-right" style="width: 24px; height: 24px; text-align: center; line-height: 24px; "></i>
              </div>
            </div>
          </a>
          <a class="list-group-item list-group-item-action" href="">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col-lg-4" style="line-height: 24px;">
                    <p class="text-sm text-muted text-uppercase mb-0">Address</p>
                  </div>
                  <div class="col-lg">
                    <p class="text-lg mb-0"><b>92277 Vermont Drive</b></p>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-chevron-right" style="width: 24px; height: 24px; text-align: center; line-height: 24px; "></i>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="card card-bordered card-rounded mb-4">
        <div class="card-header">
          <h6 class="card-header-title h4">Business Hours</h6>
        </div>
        <div class="list-group list-group-flush">


          <a class="list-group-item list-group-item-action" href="">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col-lg-4" style="line-height: 24px;">
                    <p class="text-sm text-muted text-uppercase mb-0">Sunday</p>
                  </div>
                  <div class="col-lg">
                    <p class="text-lg mb-0"><b>Close</b></p>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-chevron-right" style="width: 24px; height: 24px; text-align: center; line-height: 24px; "></i>
              </div>
            </div>
          </a>

          <a class="list-group-item list-group-item-action" href="">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col-lg-4" style="line-height: 24px;">
                    <p class="text-sm text-muted text-uppercase mb-0">Monday</p>
                  </div>
                  <div class="col-lg">
                    <p class="text-lg mb-0"><b>9am - 12nn, 1pm to 10pm</b></p>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-chevron-right" style="width: 24px; height: 24px; text-align: center; line-height: 24px; "></i>
              </div>
            </div>
          </a>

          <a class="list-group-item list-group-item-action" href="">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col-lg-4" style="line-height: 24px;">
                    <p class="text-sm text-muted text-uppercase mb-0">Tuesday</p>
                  </div>
                  <div class="col-lg">
                    <p class="text-lg mb-0"><b>9am - 12nn, 1pm to 10pm</b></p>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-chevron-right" style="width: 24px; height: 24px; text-align: center; line-height: 24px; "></i>
              </div>
            </div>
          </a>

          <a class="list-group-item list-group-item-action" href="">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col-lg-4" style="line-height: 24px;">
                    <p class="text-sm text-muted text-uppercase mb-0">Wednesday</p>
                  </div>
                  <div class="col-lg">
                    <p class="text-lg mb-0"><b>9am - 12nn, 1pm to 10pm</b></p>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-chevron-right" style="width: 24px; height: 24px; text-align: center; line-height: 24px; "></i>
              </div>
            </div>
          </a>

          <a class="list-group-item list-group-item-action" href="">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col-lg-4" style="line-height: 24px;">
                    <p class="text-sm text-muted text-uppercase mb-0">Thursday</p>
                  </div>
                  <div class="col-lg">
                    <p class="text-lg mb-0"><b>9am - 12nn, 1pm to 10pm</b></p>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-chevron-right" style="width: 24px; height: 24px; text-align: center; line-height: 24px; "></i>
              </div>
            </div>
          </a>

          <a class="list-group-item list-group-item-action" href="">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col-lg-4" style="line-height: 24px;">
                    <p class="text-sm text-muted text-uppercase mb-0">Friday</p>
                  </div>
                  <div class="col-lg">
                    <p class="text-lg mb-0"><b>9am - 12nn, 1pm to 10pm</b></p>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-chevron-right" style="width: 24px; height: 24px; text-align: center; line-height: 24px; "></i>
              </div>
            </div>
          </a>

          <a class="list-group-item list-group-item-action" href="">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col-lg-4" style="line-height: 24px;">
                    <p class="text-sm text-muted text-uppercase mb-0">Saturday</p>
                  </div>
                  <div class="col-lg">
                    <p class="text-lg mb-0"><b>Close</b></p>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-chevron-right" style="width: 24px; height: 24px; text-align: center; line-height: 24px; "></i>
              </div>
            </div>
          </a>









          <!-- <a class="list-group-item list-group-item-action" href="">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col-lg-4" style="line-height: 24px;">
                    <p class="text-sm text-muted text-uppercase mb-0">Business Hours</p>
                  </div>
                  <div class="col-lg">
                    <div class="row">
                      <div class="col-3"><p class="mb-0">Sunday</p></div>
                      <div class="col"><p class="mb-0"><b>Close</b></p></div>
                    </div>
                    <div class="row">
                      <div class="col-3"><p class="mb-0">Monday</p></div>
                      <div class="col"><p class="mb-0"><b>09:00 AM to 10:00 PM</b></p></div>
                    </div>
                    <div class="row">
                      <div class="col-3"><p class="mb-0">Tuesday</p></div>
                      <div class="col"><p class="mb-0"><b>09:00 AM to 10:00 PM</b></p></div>
                    </div>
                    <div class="row">
                      <div class="col-3"><p class="mb-0">Wednesday</p></div>
                      <div class="col"><p class="mb-0"><b>09:00 AM to 10:00 PM</b></p></div>
                    </div>
                    <div class="row">
                      <div class="col-3"><p class="mb-0">Thursday</p></div>
                      <div class="col"><p class="mb-0"><b>09:00 AM to 10:00 PM</b></p></div>
                    </div>
                    <div class="row">
                      <div class="col-3"><p class="mb-0">Friday</p></div>
                      <div class="col"><p class="mb-0"><b>09:00 AM to 10:00 PM</b></p></div>
                    </div>
                    <div class="row">
                      <div class="col-3"><p class="mb-0">Saturday</p></div>
                      <div class="col"><p class="mb-0"><b>Close</b></p></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-chevron-right" style="width: 24px; height: 24px; text-align: center; line-height: 24px; "></i>
              </div>
            </div>
          </a> -->
        </div>
      </div>
      <div class="card card-bordered card-rounded border-danger">
        <!-- <div class="card-header">
          <h6 class="card-header-title h4">Advance Settings</h6>
        </div> -->
        <div class="list-group list-group-flush">
          <div class="list-group-item" href="">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col-lg">
                    <p class="text-lg mb-0"><b>Delete this Branch</b></p>
                    <p class="mb-0">Once you delete a branch, there is no going back. Please be certain.</p>
                  </div>
                </div>
              </div>
              <div class="col-auto align-self-center">
                <a class="btn btn-light text-danger" href="">Delete this Branch</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

