---
layout: app
page-layout: empty
container-type: container
heading: true
heading-title:
heading-navbar:
sub-heading: true
sub-heading-title: Vermont Branch
---

<div class="heading fixed-top">
  <div class="sub-heading">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="sub-heading-wrapper">
            <button class="sub-heading-btn js-go-back" type="button" onclick="history.back(-1)"> <i class="fas fa-arrow-left"></i></button>
            <h1 class="sub-heading-title h3">{{ page.name }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<main class="container-fluid" id="main-content">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card card-bordered card-rounded mb-3">
        <div class="card-header">
          <h6 class="card-header-title h4">Branch Details</h6>
        </div>
        <div class="list-group list-group-flush list-group-editable list-group-sm">
          {% include components/molecules/list-group/editable/input.html 
            form-layout="horizontal"
            isInputLarge=""
            isInputRequired=""
            hasFormLabel=""
            form-label-class="form-label"
            form-label-size="col-lg-3"
            form-label-text="Legal Business Name"
            input-size="col-lg"
            input-type="text"
            input-name="branch-legal-business-name"
            input-value="JSPR Design Studio Inc."
            input-placeholder="Enter Legal Business Name"
            hasFormIcon="none"
            form-icon-name=""
            form-icon-placement=""
            hasFormHelper=""
            form-helper-text="This will appear on Customer Invoices"
          %}
          {% include components/molecules/list-group/editable/input.html 
            form-layout="horizontal"
            isInputLarge=""
            isInputRequired=""
            hasFormLabel=""
            form-label-class="form-label"
            form-label-size="col-lg-3"
            form-label-text="Branch Name"
            input-size="col-lg"
            input-type="text"
            input-name="branch-name"
            input-value="Vermont Branch"
            input-placeholder="Enter Branch Name"
            hasFormIcon="none"
            form-icon-name=""
            form-icon-placement=""
            hasFormHelper=""
            form-helper-text="This will appear on Online Booking and Automated Messages"
          %}
          {% include components/molecules/list-group/editable/input.html 
            form-layout="horizontal"
            isInputLarge=""
            isInputRequired=""
            hasFormLabel=""
            form-label-class="form-label"
            form-label-size="col-lg-3"
            form-label-text="Login URL"
            input-size="col-lg"
            input-type="text"
            input-name="branch-login-url"
            input-value="jspr-vermont.phollowup.com"
            input-placeholder="company-name.phollowup.com"
            hasFormIcon="none"
            form-icon-name=""
            form-icon-placement=""
            hasFormHelper="none"
            form-helper-text=""
          %}
          {% include components/molecules/list-group/editable/input.html 
            form-layout="horizontal"
            isInputLarge=""
            isInputRequired=""
            hasFormLabel=""
            form-label-class="form-label"
            form-label-size="col-lg-3"
            form-label-text="Time Zone"
            input-size="col-lg"
            input-type="text"
            input-name="branch-timezone"
            input-value="GMT+8"
            input-placeholder="Select Time Zone"
            hasFormIcon="none"
            form-icon-name=""
            form-icon-placement=""
            hasFormHelper="none"
            form-helper-text=""
          %}
          {% include components/molecules/list-group/editable/select.html 
            form-layout="horizontal"
            isInputLarge=""
            isInputRequired=""
            hasFormLabel=""
            form-label-class="form-label"
            form-label-size="col-lg-3"
            form-label-text="Currency"
            input-size="col-lg"
            input-type=""
            input-name="branch-currency"
            input-value="Philippine Peso (Php)"
            input-placeholder="Select Currency"
            hasFormIcon="none"
            form-icon-name=""
            form-icon-placement=""
            hasFormHelper="none"
            form-helper-text=""
            list-value-name=site.data.list-value.currency
          %}
        </div>
      </div>
      <div class="card card-bordered card-rounded mb-3">
        <div class="card-header">
          <h6 class="card-header-title h4">Contact Details</h6>
        </div>
        <div class="list-group list-group-flush list-group-editable list-group-sm">
          {% include components/molecules/list-group/editable/input.html 
            form-layout="horizontal"
            isInputLarge=""
            isInputRequired=""
            hasFormLabel=""
            form-label-class="form-label"
            form-label-size="col-lg-3"
            form-label-text="Phone"
            input-size="col-lg"
            input-type="text"
            input-name="branch-phone"
            input-value="0917 116 1268"
            input-placeholder=""
            hasFormIcon="none"
            form-icon-name=""
            form-icon-placement=""
            hasFormHelper="none"
            form-helper-text=""
          %}
          {% include components/molecules/list-group/editable/input.html 
            form-layout="horizontal"
            isInputLarge=""
            isInputRequired=""
            hasFormLabel=""
            form-label-class="form-label"
            form-label-size="col-lg-3"
            form-label-text="Email"
            input-size="col-lg"
            input-type="text"
            input-name="branch-email"
            input-value="jsprlprd@gmail.com"
            input-placeholder=""
            hasFormIcon="none"
            form-icon-name=""
            form-icon-placement=""
            hasFormHelper="none"
            form-helper-text=""
          %}
          {% include components/organisms/list-group/editable/address.html 
            form-layout="horizontal"
            isInputLarge=""
            isInputRequired=""
            hasFormLabel=""
            form-label-class="form-label"
            form-label-size="col-lg-3"
            form-label-text="Address"
            input-size="col-lg"
            input-type="text"
            input-name="branch-address"
            input-value="92277 Vermont Drive"
            input-placeholder=""
            hasFormIcon="none"
            form-icon-name=""
            form-icon-placement=""
            hasFormHelper="none"
            form-helper-text=""
          %}
        </div>
      </div>
      <div class="card card-bordered card-rounded mb-3">
        <div class="card-header">
          <h6 class="card-header-title h4">Business Hours</h6>
        </div>
        <div class="list-group list-group-flush list-group-editable list-group-sm">
          {% include components/molecules/list-group/editable/input.html 
            form-layout="horizontal"
            isInputLarge=""
            isInputRequired=""
            hasFormLabel=""
            form-label-class="form-label"
            form-label-size="col-lg-3"
            form-label-text="Sunday"
            input-size="col-lg"
            input-type="text"
            input-name="branch-business-hours-sunday"
            input-value="Close"
            input-placeholder=""
            hasFormIcon="none"
            form-icon-name=""
            form-icon-placement=""
            hasFormHelper="none"
            form-helper-text=""
          %}
          {% include components/molecules/list-group/editable/input.html 
            form-layout="horizontal"
            isInputLarge=""
            isInputRequired=""
            hasFormLabel=""
            form-label-class="form-label"
            form-label-size="col-lg-3"
            form-label-text="Monday"
            input-size="col-lg"
            input-type="text"
            input-name="branch-business-hours-monday"
            input-value="9am - 12nn, 1pm to 10pm"
            input-placeholder=""
            hasFormIcon="none"
            form-icon-name=""
            form-icon-placement=""
            hasFormHelper="none"
            form-helper-text=""
          %}
          {% include components/molecules/list-group/editable/input.html 
            form-layout="horizontal"
            isInputLarge=""
            isInputRequired=""
            hasFormLabel=""
            form-label-class="form-label"
            form-label-size="col-lg-3"
            form-label-text="Tuesday"
            input-size="col-lg"
            input-type="text"
            input-name="branch-business-hours-tuesday"
            input-value="9am - 12nn, 1pm to 10pm"
            input-placeholder=""
            hasFormIcon="none"
            form-icon-name=""
            form-icon-placement=""
            hasFormHelper="none"
            form-helper-text=""
          %}
          {% include components/molecules/list-group/editable/input.html 
            form-layout="horizontal"
            isInputLarge=""
            isInputRequired=""
            hasFormLabel=""
            form-label-class="form-label"
            form-label-size="col-lg-3"
            form-label-text="Wednesday"
            input-size="col-lg"
            input-type="text"
            input-name="branch-business-hours-wednesday"
            input-value="9am - 12nn, 1pm to 10pm"
            input-placeholder=""
            hasFormIcon="none"
            form-icon-name=""
            form-icon-placement=""
            hasFormHelper="none"
            form-helper-text=""
          %}
          {% include components/molecules/list-group/editable/input.html 
            form-layout="horizontal"
            isInputLarge=""
            isInputRequired=""
            hasFormLabel=""
            form-label-class="form-label"
            form-label-size="col-lg-3"
            form-label-text="Thursday"
            input-size="col-lg"
            input-type="text"
            input-name="branch-business-hours-thursday"
            input-value="9am - 12nn, 1pm to 10pm"
            input-placeholder=""
            hasFormIcon="none"
            form-icon-name=""
            form-icon-placement=""
            hasFormHelper="none"
            form-helper-text=""
          %}
          {% include components/molecules/list-group/editable/input.html 
            form-layout="horizontal"
            isInputLarge=""
            isInputRequired=""
            hasFormLabel=""
            form-label-class="form-label"
            form-label-size="col-lg-3"
            form-label-text="Friday"
            input-size="col-lg"
            input-type="text"
            input-name="branch-business-hours-friday"
            input-value="9am - 12nn, 1pm to 10pm"
            input-placeholder=""
            hasFormIcon="none"
            form-icon-name=""
            form-icon-placement=""
            hasFormHelper="none"
            form-helper-text=""
          %}
          {% include components/molecules/list-group/editable/input.html 
            form-layout="horizontal"
            isInputLarge=""
            isInputRequired=""
            hasFormLabel=""
            form-label-class="form-label"
            form-label-size="col-lg-3"
            form-label-text="Saturday"
            input-size="col-lg"
            input-type="text"
            input-name="branch-business-hours-saturday"
            input-value="Close"
            input-placeholder=""
            hasFormIcon="none"
            form-icon-name=""
            form-icon-placement=""
            hasFormHelper="none"
            form-helper-text=""
          %}
        </div>
      </div>
      <div class="card card-bordered card-rounded border-danger">
        <div class="list-group list-group-flush">
          <div class="list-group-item" href="">
            <div class="row">
              <div class="col-lg">
                <p class="text-lg mb-0"><b>Delete this Branch</b></p>
                <p class="mb-0">Once you delete a branch, there is no going back. Please be certain.</p>
              </div>
              <div class="col-auto align-self-center">
                <a class="btn btn-light text-danger" href="">Delete this Branch</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

