---
layout: app
container-type:
heading: 
heading-title: Customers
---

<div class="heading fixed-top">
  <div class="container">
    <div class="row no-gutters d-flex d-xl-none">
      <div class="col-auto"><button class="btn btn-link btn-sm" type="button" onclick="history.back(-1)"><i class="fas fa-arrow-left"></i></button></div>
      <div class="col text-center">
        <h1 class="heading-title h4">{{ page.full-name }}</h1>
        <p class="heading-subtitle">67% punctuality (2/3)</p>
      </div>
      <div class="col-auto"><button class="btn btn-link btn-sm" type="button"><i class="fas fa-info-circle"></i></button></div>
    </div>
    <div class="media d-none d-xl-flex">
      <div class="d-inline-flex mr-3">
        <img class="rounded-circle" src="https://ui-avatars.com/api/?name={{ page.first-name }}+{{ page.last-name }}&?background={{ employee.background-color }}&color=fff" alt="" width="96" height="96">
      </div>
      <div class="media-body align-self-center">
        <div class="row">
          <div class="col align-self-center">
            <h6 class="h4 mt-4"><b>{{ page.full-name }}</b> <a class="btn btn-link btn-link-custom btn-sm" data-toggle="modal" data-target="#edit-customer-profile" href="#edit-customer-profile"><i class="fas fa-pen"></i></a></h6>
            <p>67% punctuality (2/3)</p>
          </div>
          <div class="col align-self-center text-right">
            <ul class="list list-icon list-icon-default list-icon-right mb-0">
              <li><i class="list-item-icon fas fa-phone"></i>{{ page.phone }}</li>
              <li><i class="list-item-icon fas fa-envelope"></i>{{ page.email }}</li>
              <li><i class="list-item-icon fas fa-birthday-cake"></i>{{ page.birthday }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <nav class="heading-navbar">
      {% include components/molecules/nav-tabs.html
        nav-type="nav-tabs"
        isLarge=""
        isStacked=""
        isJustified=""
        isResponsive="nav-tabs-responsive"
        list-value-name=site.data.navigation.customer-settings
        hasIcon=""
      %}  
    </nav>
  </div>
</div>

<main class="container" id="main-content">
  <div class="tab-content">
    <div class="tab-pane show active" id="appointments-tab">
      <div class="row">
        <div class="col-lg-9">
          <div class="mb-4">
            {% include components/molecules/nav-tabs.html
              nav-type="nav-pills"
              isLarge=""
              isStacked=""
              isJustified=""
              isResponsive="nav-tabs-responsive"
              list-value-name=site.data.navigation.booking-settings
              hasIcon=""
            %}
          </div>
          <ul class="list-group list-group-custom">
            <li class="list-group-item list-group-item-action">
              <div class="row">
                <div class="col order-1 order-sm-2">
                  <p class="text-lg mb-0"><a href=""><b>Friday, September 28, 2018 <span>at</span> 09:00 AM</b></a> <span class="badge badge-success">Confirmed</span></p>
                  <p class="text-muted mb-0"><b>The Essenses Signature Massage</b> for <b>60 Mins</b> with <b>Jasper Lepardo</b></p>
                </div>
                <div class="col-sm-2 text-center order-3 align-self-center">
                  <a class="btn btn-link btn-link-custom btn-link-dark" href="{{ site.baseurl }}/app/invoices/3858.html">View Invoice</a>
                </div>
                <div class="col-sm-auto order-4 align-self-center">
                  <button class="btn btn-link btn-link-custom btn-link-dark">No Show</button>
                  <button class="btn btn-link btn-link-custom">Attended</button>
                </div>
              </div>
            </li>
          </ul>
          <hr class="dashed">
          {% include components/organisms/footer.html %}
        </div>
        <div class="col-lg-3">
          <div class="card card-bordered card-rounded">
            <div class="card-body">
              <p class="text-lg"><b>August 28, 2016</b><br><small>Customer Since</small></p>
              <hr class="dashed">
              <p class="text-lg"><b>September 28, 2018</b><br><small>Last Visit</small></p>
              <hr class="dashed">
              <p class="text-lg"><b>25</b><br><small>Appointments</small></p>
              <hr class="dashed">
              <p class="text-lg"><b>-</b><br><small>Cancellations</small></p>
              <hr class="dashed">
              <p class="text-lg"><b>-</b><br><small>No-Shows</small></p>
              <hr class="dashed">
              <p class="text-lg mb-0"><b>P 5,000.00</b><br><small>Sales</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="custom-forms-tab">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="header">
            <div class="row">
              <div class="col">
                <h6 class="header-title h4">Custom Forms</h6>
              </div>
              <div class="col-auto">
                <a class="btn btn-link btn-sm" href=""><i class="fas fa-plus mr-2"></i>Add Custom Form</a>
              </div>
            </div>
          </div>
          <div class="card card-bordered card-rounded mb-4">
            <div class="card-header">
              <h6 class="card-header-title h4">Custom Form Title</h6>
            </div>
            <div class="list-group list-group-flush list-group-editable list-group-sm">
              {% include components/molecules/list-group/input.html 
                form-layout="horizontal"
                isInputLarge=""
                isInputRequired=""
                hasFormLabel=""
                form-label-class="form-label"
                form-label-size="col-lg-3"
                form-label-text="Question"
                input-size="col-lg"
                input-type="text"
                input-name="question-1"
                input-value="Answer"
                input-placeholder="Enter Answer"
                hasFormIcon="none"
                form-icon-name=""
                form-icon-placement=""
                hasFormHelper="none"
                form-helper-text=""
              %}
              {% include components/molecules/list-group/input.html 
                form-layout="horizontal"
                isInputLarge=""
                isInputRequired=""
                hasFormLabel=""
                form-label-class="form-label"
                form-label-size="col-lg-3"
                form-label-text="Question"
                input-size="col-lg"
                input-type="text"
                input-name="question-2"
                input-value="Answer"
                input-placeholder="Enter Answer"
                hasFormIcon="none"
                form-icon-name=""
                form-icon-placement=""
                hasFormHelper="none"
                form-helper-text=""
              %}
              {% include components/molecules/list-group/input.html 
                form-layout="horizontal"
                isInputLarge=""
                isInputRequired=""
                hasFormLabel=""
                form-label-class="form-label"
                form-label-size="col-lg-3"
                form-label-text="Question"
                input-size="col-lg"
                input-type="text"
                input-name="question-3"
                input-value="Answer"
                input-placeholder="Enter Answer"
                hasFormIcon="none"
                form-icon-name=""
                form-icon-placement=""
                hasFormHelper="none"
                form-helper-text=""
              %}
              {% include components/molecules/list-group/input.html 
                form-layout="horizontal"
                isInputLarge=""
                isInputRequired=""
                hasFormLabel=""
                form-label-class="form-label"
                form-label-size="col-lg-3"
                form-label-text="Question"
                input-size="col-lg"
                input-type="text"
                input-name="question-4"
                input-value="Answer"
                input-placeholder="Enter Answer"
                hasFormIcon="none"
                form-icon-name=""
                form-icon-placement=""
                hasFormHelper="none"
                form-helper-text=""
              %}
              {% include components/molecules/list-group/input.html 
                form-layout="horizontal"
                isInputLarge=""
                isInputRequired=""
                hasFormLabel=""
                form-label-class="form-label"
                form-label-size="col-lg-3"
                form-label-text="Question"
                input-size="col-lg"
                input-type="text"
                input-name="question-5"
                input-value="Answer"
                input-placeholder="Enter Answer"
                hasFormIcon="none"
                form-icon-name=""
                form-icon-placement=""
                hasFormHelper="none"
                form-helper-text=""
              %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="messages-tab">
      <div class="alert alert-dark">
        Automatic Reminders is currently disable. <a class="alert-link" href="">Enable Now</a>
      </div>
      <ul class="list-unstyled">
        <li>
          <div class="media">
            <div class="d-inline-flex mr-3">
              <img class="rounded-circle" src="/assets/img/system-avatar.png" alt="" width="32" height="32">
            </div>
            <div class="align-self-center media-body">
              <div class=" shadow-sm" style="max-width: 700px; padding: 16px; background-color: #fff; border-left: 4px solid #006be9; margin-bottom: 8px;">
                <p style="padding: 0; margin-bottom: 0;">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.&#8203;</p>
              </div><i class="text-muted">Sent via WeChat</i>
            </div>
            <div class="d-inline-flex ml-5">
              9:45 AM
            </div>
          </div>
        </li>
      </ul>      
    </div>
    <div class="tab-pane" id="satisfaction-tab">
      <div class="card card-bordered card-rounded mb-4">
        <table class="card-table table table-lg">
          <thead>
            <tr>
              <th><a href=""><i class="fas fa-sort mr-1"></i>Title</a></th>
              <th><a href=""><i class="fas fa-sort mr-1"></i>Date</a></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center" colspan="2">No Records Available</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>


