---
layout: base

side-menu:
- text: Dashboard
  icon: fas fa-tachometer-alt
  url:
- text: Calendar
  icon: far fa-calendar
  url: app/appointment.html
- text: Online Booking
  icon: fas fa-address-book
  url:
- text: Invoicing
  icon: fas fa-shopping-cart
  url:
- text: Customers
  icon: fas fa-users
  url: app/customers/
- text: Conversations
  icon: fas fa-comments
  url:
- text: Settings
  icon: fas fa-cogs
  url:

---


<div class="heading">
  <div class="row">
    <div class="col-md-8">
      <h1 class="heading-title h3">{{ page.heading-title }}</h1>
    </div>
    <div class="col-md-4 text-right">{{ page.heading-button }}</div>
  </div>
  <p class="heading-subtitle">{{ page.heading-subtitle }}</p>
</div>


{{ content }}


