---
layout: base

side-menu:
- text: Dashboard
  icon: fas fa-tachometer-alt
  url:
- text: Calendar
  icon: far fa-calendar
  url: app/appointment.html
- text: Online Booking
  icon: fas fa-address-book
  url:
- text: Invoicing
  icon: fas fa-shopping-cart
  url:
- text: Customers
  icon: fas fa-users
  url: app/customers/
- text: Conversations
  icon: fas fa-comments
  url:
- text: Settings
  icon: fas fa-cogs
  url:

layout-styles: marketing

---

<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <img class="" src="{{ site.baseurl }}/assets/img/LOGO_PhollowUp-New.png" alt="" width="" height="32">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/pricing-and-faq.html">Pricing &amp; FAQ</a>
        </li>
      </ul>
      <hr class="dashed d-block d-lg-none">
      <a class="btn btn-outline-primary mr-2" href="{{ site.baseurl }}/login.html">Login</a>
      <a class="btn btn-warning" href="{{ site.baseurl }}/create-free-account.html">Try it Now</a>
    </div>
  </div>
</nav>

{{ content }}

<div id="footer-banner">
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1 col-lg-6 offset-lg-0" id="footer-banner-autopilot">
        <p class="lead">Solve all those client concerns <br> on autopilot NOW.</p>
        <a class="btn btn-warning btn-lg" href="{{ site.baseurl }}/create-free-account.html">Try it Now</a>
        <a class="btn btn-outline-light btn-lg" data-toggle="modal" data-target="#watch-overview-video" href="#watch-overview-video">Watch Our Video</a>
      </div>
      <div class="col-10 offset-1 col-lg-6 offset-lg-0" id="footer-banner-online-presentation">
        <p class="lead">Request for an online presentation <br> with one of our agents NOW.</p>
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div class="input-group">
              <input type="email" class="form-control form-control-lg" placeholder="Enter your Email Address">
              <div class="input-group-append">
                <a class="btn btn-success btn-lg" href="">Book a Demo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer id="footer">
  <div class="container">
    <p>© PhollowUp Pte Ltd 2017</p>
  </div>
</footer>

{% include components/organisms/modals/create-free-account.html %}

{% include components/organisms/modals/overview-video.html %}