---
layout: app
page-layout: empty
container-type: container
heading: true
heading-title:
heading-navbar:
sub-heading: true
sub-heading-title: Vermont Branch
---

<div class="heading fixed-top">
  <div class="sub-heading">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="sub-heading-wrapper">
            <button class="sub-heading-btn js-go-back" type="button" onclick="history.back(-1)"> <i class="fas fa-arrow-left"></i></button>
            <h1 class="sub-heading-title h3">{{ page.name }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<main class="container-fluid" id="main-content">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card card-bordered card-rounded mb-4">
        <div class="card-header">
          <h6 class="card-header-title h4">Product Details</h6>
        </div>
        <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action" href="">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col-lg-4" style="line-height: 24px;">
                    <p class="text-sm text-muted text-uppercase mb-0">Product Name</p>
                  </div>
                  <div class="col-lg">
                    <p class="text-lg mb-0"><b>Lotion</b></p>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-chevron-right" style="width: 24px; height: 24px; text-align: center; line-height: 24px; "></i>
              </div>
            </div>
          </a>
          <a class="list-group-item list-group-item-action" href="">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col-lg-4" style="line-height: 24px;">
                    <p class="text-sm text-muted text-uppercase mb-0">Description</p>
                  </div>
                  <div class="col-lg">
                    <p class="text-lg mb-0"><b>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.​</b></p>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-chevron-right" style="width: 24px; height: 24px; text-align: center; line-height: 24px; "></i>
              </div>
            </div>
          </a>
          <a class="list-group-item list-group-item-action" href="">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col-lg-4" style="line-height: 24px;">
                    <p class="text-sm text-muted text-uppercase mb-0">Price</p>
                  </div>
                  <div class="col-lg">
                    <p class="text-lg mb-0"><b>P 200</b></p>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-chevron-right" style="width: 24px; height: 24px; text-align: center; line-height: 24px; "></i>
              </div>
            </div>
          </a>
          <a class="list-group-item list-group-item-action" href="">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col-lg-4" style="line-height: 24px;">
                    <p class="text-sm text-muted text-uppercase mb-0">Current Quantity</p>
                  </div>
                  <div class="col-lg">
                    <p class="text-lg mb-0"><b>28</b></p>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-chevron-right" style="width: 24px; height: 24px; text-align: center; line-height: 24px; "></i>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="card card-bordered card-rounded mb-4">
        <div class="card-header">
          <h6 class="card-header-title h4">Advance Settings</h6>
        </div>
        <div class="list-group list-group-flush list-group-lg">

          <div class="list-group-item">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col-lg">
                    <p class="text-lg mb-0"><b>Track Inventory?</b></p>
                    <!-- <p class="text-muted mb-0">This option allows you to manually book multiple customers at the same time, without prompting an error message. Useful if you practice double-booking inside your business (not recommended).</p> -->
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <label class="form-switch">
                  <input class="form-switch-input" type="checkbox">
                  <span class="form-switch-slider"></span>
                  <!-- <span class="form-switch-label"></span> -->
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card card-bordered card-rounded border-danger">
        <!-- <div class="card-header">
          <h6 class="card-header-title h4">Advance Settings</h6>
        </div> -->
        <div class="list-group list-group-flush list-group-lg">
          <div class="list-group-item" href="">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col-lg">
                    <p class="text-lg mb-0"><b>Delete this Product</b></p>
                    <p class="mb-0">Once you delete a product, there is no going back. Please be certain.</p>
                  </div>
                </div>
              </div>
              <div class="col-auto align-self-center">
                <a class="btn btn-light text-danger" href="">Delete this Product</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

