---
layout: app
subnavbar: true
container-type: container
heading-title: Settings
subheader: true
subheader-title: Vermont Branch
---

<div class="row">
  <div class="col-lg-8 offset-2">
    <div class="card">
      <div class="card-header pb-0 border-0">
        {% include components/molecules/nav-tabs.html
          nav-type="nav-tabs"
          isLarge=""
          isStacked=""
          isJustified=""
          isResponsive="nav-tabs-responsive"
          list-value-name=site.data.navigation.branch-settings
          hasIcon=""
        %}
      </div>
      <div class="card-body">
        <form action="">
          <p class="lead">Basic Details</p>
          {% include components/molecules/input-field-horizontal.html 
            label="Legal Business Name"
            name="legal-business-name"
            type="text"
            placeholder="Enter Legal Business Name"
            label-size="col-lg-3"
            input-size="col-lg-6"
            help-block="This will appear on Customer Invoices"
          %}
          {% include components/molecules/input-field-horizontal.html 
            label="Branch Name"
            name="branch-name"
            type="text"
            placeholder="Enter Branch Name"
            label-size="col-lg-3"
            input-size="col-lg-6"
            help-block="This will appear on Online Booking and Automated Messages"
          %}
          {% include components/molecules/input-field-horizontal.html 
            label="Login URL"
            name="login-url"
            type="text"
            placeholder="company-name.phollowup.com"
            label-size="col-lg-3"
            input-size="col-lg-6"
            help-block=""
          %}
          <hr class="dashed">
          <p class="lead">Contact Details</p>
          {% include components/molecules/input-field-horizontal.html 
            label="Phone Number"
            name="phone-number"
            type="text"
            placeholder="Enter Phone Number"
            label-size="col-lg-3"
            input-size="col-lg-6"
            help-block=""
          %}
          {% include components/molecules/input-field-horizontal.html 
            label="Email Address"
            name="email-address"
            type="text"
            placeholder="Enter Email Address"
            label-size="col-lg-3"
            input-size="col-lg-6"
            help-block=""
          %}
          {% include components/organisms/primary-address-form-horizontal.html 
            label="Email Address"
            name="email-address"
            type="text"
            placeholder="Enter Email Address"
            label-size="col-lg-3"
            input-size="col-lg-6"
            help-block=""
          %}

        </form>
      </div>
    </div>
  </div>
</div>